#!/usr/bin/env sh

#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : zfs_scrub-pools.sh
#   |  _   _  |  Type   : Shell script
#   | [_] [_] |  Role   : zfs
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This script scrubs ZFS pools.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SHELL VARIABLES
#-------------------------------------------------------------------------------

SHELL='/bin/sh'
PATH='/sbin:/bin:/usr/sbin:/usr/bin'

#-------------------------------------------------------------------------------
# COMMANDS
#-------------------------------------------------------------------------------

which='/usr/bin/which' && [ -x $which ] || { echo "Error: Command 'which' not found. Code: 1100"; exit 127; }
basename=$($which basename) || { echo "Error: Command 'basename' not found. Code: 1101"; exit 127; }
date=$($which date) || { echo "Error: Command 'date' not found. Code: 1102"; exit 127; }
echo=$($which echo) || { echo "Error: Command 'echo' not found. Code: 1103"; exit 127; }
expr=$($which expr) || { echo "Error: Command 'expr' not found. Code: 1104"; exit 127; }
grep=$($which grep) || { echo "Error: Command 'grep' not found. Code: 1105"; exit 127; }
hostname=$($which hostname) || { echo "Error: Command 'hostname' not found. Code: 1106"; exit 127; }
logger=$($which logger) || { echo "Error: Command 'logger' not found. Code: 1107"; exit 127; }
{% if (zfs_monitor_mail_state is defined) and ((zfs_monitor_mail_state == 'true') or (zfs_monitor_mail_state == 'yes') or (zfs_monitor_mail_state == 'enable')) %}
mailx=$($which mailx) || { echo "Error: Command 'mailx' not found. Code: 1108"; exit 127; }
{% endif %}
rm=$($which rm) || { echo "Error: Command 'rm' not found. Code: 1109"; exit 127; }
sleep=$($which sleep) || { echo "Error: Command 'sleep' not found. Code: 1110"; exit 127; }
touch=$($which touch) || { echo "Error: Command 'touch' not found. Code: 1111"; exit 127; }
whoami=$($which whoami) || { echo "Error: Command 'whoami' not found. Code: 1112"; exit 127; }
zpool=$($which zpool) || { echo "Error: Command 'zpool' not found. Code: 1113"; exit 127; }

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

# Get the short host name
host=$($hostname -s) || { echo "Error: Host name unknown. Code: 1200"; exit 68; }

# Get the script name and PID
script="$($basename $0)[$$]" || { echo "Error: Command invoked cannot execute. Code: 1201"; exit 126; }

# Get the start date and time
date_start=$($date '+%Y-%m-%dT%H:%M:%S%z')

# Get the start time (seconds since 1970-01-01T00:00:00+00:00)
time_start=$($date '+%s')

# Define the script user
user='{{file_owner_zfs_scrub_pools_sh}}'

# Define the lockfile location
lockfile='{{file_path_zfs_script_dir}}/zfs_scrub-pools.lock'

# Set the initial return value
retval=0

# Set the initial exit code
code='0000'

# Define the initial log severity
severity='Debug'

# Define the initial log message
message='Please check log files for more information.'

# Define the ZFS pools
{% if (zfs_pools is defined) and not ((zfs_pools == None) or (zfs_pools == '') or (zfs_pools == [])) %}
zfs_pools='{% for pool in zfs_pools %}{{(pool|e)}}{% if not loop.last %} {% endif %}'
{% endfor %}
{% endif %}

{% if (zfs_monitor_mail_state is defined) and ((zfs_monitor_mail_state == 'true') or (zfs_monitor_mail_state == 'yes') or (zfs_monitor_mail_state == 'enable')) %}
# Define the mail sender
{% if (zfs_monitor_mail_sender is defined) and not ((zfs_monitor_mail_sender == None) or (zfs_monitor_mail_sender == '')) %}
mail_sender='{{(zfs_monitor_mail_sender|e)}}'
{% else %}
mail_sender='root@{{(ansible_domain|e)}}'
{% endif %}

# Define the mail recipient
{% if (zfs_monitor_mail_recipient is defined) and not ((zfs_monitor_mail_recipient == None) or (zfs_monitor_mail_recipient == '') or (zfs_monitor_mail_recipient == [])) %}
mail_recipient='{% for mail_recipient in zfs_monitor_mail_recipient %}{{(mail_recipient|e)}}{% if not loop.last %},{% endif %}{% endfor %}'
{% else %}
mail_recipient='admin@{{ansible_domain}}'
{% endif %}

# Define the mail subject
{% if (zfs_monitor_mail_subject is defined) and not ((zfs_monitor_mail_subject == None) or (zfs_monitor_mail_subject == '')) %}
mail_subject='{{(zfs_monitor_mail_subject|e)}}'
{% else %}
mail_subject='ZFS: Scrub Pool - Error ({{ansible_hostname}})'
{% endif %}
{% endif %}

#-------------------------------------------------------------------------------
# FUNCTIONS
#-------------------------------------------------------------------------------

{% if (zfs_monitor_mail_state is defined) and ((zfs_monitor_mail_state == 'true') or (zfs_monitor_mail_state == 'yes') or (zfs_monitor_mail_state == 'enable')) %}
# Mail monitoring
mail_error() {
  retval=$1
  code=$2
  severity=$3
  message=$4
  # Define the mail body
  mail_body="--------------------------------------------------------------------------------
ERROR
--------------------------------------------------------------------------------

Message     : $message
Severity    : $severity
Code        : $code
Date & Time : $($date '+%Y-%m-%dT%H:%M:%S%z')

--------------------------------------------------------------------------------
SCRIPT
--------------------------------------------------------------------------------

Name        : zfs_scrub-pools.sh
Type        : Shell script
PID         : $$

--------------------------------------------------------------------------------
SYSTEM
--------------------------------------------------------------------------------

Hostname    : {{ansible_hostname}}
FQDN        : {{ansible_fqdn}}

--------------------------------------------------------------------------------
OPERATING SYSTEM
--------------------------------------------------------------------------------

Type        : {{ansible_system}}
Family      : {{ansible_os_family}}
Distribution: {{ansible_distribution}}
Version     : {{ansible_distribution_version}}
Architecture: {{ansible_architecture}}

--------------------------------------------------------------------------------
KERNEL
--------------------------------------------------------------------------------

Type        : {{ansible_system}}
Version     : {{ansible_kernel}}

--------------------------------------------------------------------------------
MAIL
--------------------------------------------------------------------------------

Sender      : $mail_sender
Recipient   : $mail_recipient
Subject     : $mail_subject"

{% if (ansible_os_family == 'FreeBSD') %}
  $echo "$mail_body" | $mailx -s "$mail_subject" -F "$mail_recipient" > /dev/null 2>&1
{% else %}
  $echo "$mail_body" | $mailx -a "From: "$mail_sender"" -s "$mail_subject" "$mail_recipient" > /dev/null 2>&1
{% endif %}
}
{% endif %}

# Log and exit if return value is not equal zero
log_and_exit_on_error() {
  retval=$1
  code=$2
  severity=$3
  message=$4
  if [ $retval -ne 0 ]; then
    $rm -f $lockfile
    $echo "$($date '+%Y-%m-%dT%H:%M:%S%z') - $host - $script: "$severity: $message Code: $code""
    $logger -t $script "$severity: $message Code: $code"
{% if (zfs_monitor_mail_state is defined) and ((zfs_monitor_mail_state == 'true') or (zfs_monitor_mail_state == 'yes') or (zfs_monitor_mail_state == 'enable')) %}
    mail_error $retval $code "$severity" "$message"
{% endif %}
    exit $retval
  fi
}

# Watch and wait on change
watch_and_wait_on_change() {
  watch_key=$1
  watch_value=$2
  watch_option=$3
  time_step=$4
  time_maximum=$5
  while ${watch_key} | $grep ${watch_option} "${watch_value}" > /dev/null 2>&1 ; do
    if [ $time_initial -lt $time_maximum ]; then
      time_initial=$($expr $time_initial + $time_step)
      $sleep $time_initial
    else
      $sleep $time_initial
    fi
  done
}

#-------------------------------------------------------------------------------
# CHECKS
#-------------------------------------------------------------------------------

# Check if script is running as correct user
if [ "$($whoami)" != "$user" ]; then
  retval=77
  code='1300'
  severity='Error'
  message="Please run script as user '$user'"
  $echo "$($date '+%Y-%m-%dT%H:%M:%S%z') - $host - $script: "$severity: $message Code: $code""
  exit $retval
fi

#-------------------------------------------------------------------------------
# LOCKFILE
#-------------------------------------------------------------------------------

# Create lockfile
if [ ! -e $lockfile ]; then
  $touch $lockfile || log_and_exit_on_error "$?" '1400' 'Warning' 'Could not create lockfile. Please investigate.'
else
  log_and_exit_on_error "$?" '1401' 'Warning' 'Lockfile does already exist. Please investigate.'
fi

#-------------------------------------------------------------------------------
# SCRIPT
#-------------------------------------------------------------------------------

# Scrub ZFS pools
for pool in $zfs_pools ; do
  # Wait until previous scrub has finished
  time_initial=0
  watch_and_wait_on_change "$zpool status" 'scrub in progress' '' '5' '300'

  # Scrub next ZFS pool
  $zpool scrub $pool
  log_and_exit_on_error "$?" '1500' 'Error' "Unable to scrub ZFS pool: '$pool'"
done

# Check ZFS pools
for pool in $zfs_pools ; do
  # Wait until previous scrub has finished
  time_initial=0
  watch_and_wait_on_change "$zpool status" 'scrub in progress' '' '5' '300'

  # Get next ZFS pool status
  zfs_pool_status="$($zpool status -xv $pool)"
  log_and_exit_on_error "$?" '1501' 'Error' "Unable to get ZFS pool status: '$pool'"

  # Check next ZFS pool status
  echo "$zfs_pool_status" | $grep 'healthy' > /dev/null 2>&1
  log_and_exit_on_error "$?" '1502' 'Critical' "ZFS pool is unhealthy: '$pool'"
done

#-------------------------------------------------------------------------------
# LOCKFILE
#-------------------------------------------------------------------------------

# Delete lockfile
if [ -e $lockfile ]; then
  $rm -f $lockfile || log_and_exit_on_error "$?" '1402' 'Warning' 'Could not delete lockfile. Please investigate.'
else
  log_and_exit_on_error "$?" '1403' 'Warning' 'Lockfile did not exist. Please investigate.'
fi

#-------------------------------------------------------------------------------
# LOGGING
#-------------------------------------------------------------------------------

# Get the end date and time
date_end=$($date '+%Y-%m-%dT%H:%M:%S%z')

# Get the end time (seconds since 1970-01-01T00:00:00+00:00)
time_end=$($date '+%s')

# Calculate execution time
time_exec=$($expr $time_end - $time_start)

# Convert execution time into human readable format
{% if (ansible_os_family == 'Gentoo') %}
time_hr=$($date -d "1970-01-01 $time_exec sec" '+%H:%M:%S')
{% else %}
time_hr=$($date -u -r "$time_exec" '+%H:%M:%S')
{% endif %}

# Logging and alerting
retval=0
code='0000'
severity='Info'
message='All ZFS pools are healthy.'
$logger -t $script "$severity: $message Duration: $time_hr"

exit $retval
