#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : pf.blacklist
#   |  _   _  |  Type   : pf configuration file
#   | [_] [_] |  Role   : freebsd_pf
#   |____~____|
#    ___//__//   Authors: liv community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.liv.io/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

# ALL
{% if (freebsd_pf_blacklist_all is defined) and not ((freebsd_pf_blacklist_all == None) or (freebsd_pf_blacklist_all == '') or (freebsd_pf_blacklist_all == [])) %}
{% for blacklist_all in freebsd_pf_blacklist_all %}
{% if (blacklist_all.comment is defined) and not ((blacklist_all.comment == None) or (blacklist_all.comment == '')) %}
# {{blacklist_all.comment}}
{% else %}
#
{% endif %}
{% for config in blacklist_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (freebsd_pf_blacklist_group is defined) and not ((freebsd_pf_blacklist_group == None) or (freebsd_pf_blacklist_group == '') or (freebsd_pf_blacklist_group == [])) %}
{% for blacklist_group in freebsd_pf_blacklist_group %}
{% if (blacklist_group.comment is defined) and not ((blacklist_group.comment == None) or (blacklist_group.comment == '')) %}
# {{blacklist_group.comment}}
{% else %}
#
{% endif %}
{% for config in blacklist_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (freebsd_pf_blacklist_host is defined) and not ((freebsd_pf_blacklist_host == None) or (freebsd_pf_blacklist_host == '') or (freebsd_pf_blacklist_host == [])) %}
{% for blacklist_host in freebsd_pf_blacklist_host %}
{% if (blacklist_host.comment is defined) and not ((blacklist_host.comment == None) or (blacklist_host.comment == '')) %}
# {{blacklist_host.comment}}
{% else %}
#
{% endif %}
{% for config in blacklist_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
