#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : pf.blacklist
#   |  _   _  |  Type   : pf configuration file
#   | [_] [_] |  Role   : freebsd_pf
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

# BLACKLIST GROUP
{% if (freebsd_pf_blacklist_group_vars is defined) and not ((freebsd_pf_blacklist_group_vars == None) or (freebsd_pf_blacklist_group_vars == '') or (freebsd_pf_blacklist_group_vars == [])) %}
{% for blacklist_group_vars in freebsd_pf_blacklist_group_vars %}
{% if (blacklist_group_vars.comment is defined) and not ((blacklist_group_vars.comment == None) or (blacklist_group_vars.comment == '')) %}
# {{blacklist_group_vars.comment}}
{% else %}
#
{% endif %}
{% for config in blacklist_group_vars.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# BLACKLIST HOST
{% if (freebsd_pf_blacklist_host_vars is defined) and not ((freebsd_pf_blacklist_host_vars == None) or (freebsd_pf_blacklist_host_vars == '') or (freebsd_pf_blacklist_host_vars == [])) %}
{% for blacklist_host_vars in freebsd_pf_blacklist_host_vars %}
{% if (blacklist_host_vars.comment is defined) and not ((blacklist_host_vars.comment == None) or (blacklist_host_vars.comment == '')) %}
# {{blacklist_host_vars.comment}}
{% else %}
#
{% endif %}
{% for config in blacklist_host_vars.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
