#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#
# Name   : pf.conf
# Type   : pf configuration file
# Role   : freebsd_pf
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# MACROS
#-------------------------------------------------------------------------------

# TCP state
{% if not (freebsd_pf_macro_tcp_state|match('false|no|disable')) %}
tcp_state="{{freebsd_pf_macro_tcp_state}}"
{% endif %}

# UDP state
{% if not (freebsd_pf_macro_udp_state|match('false|no|disable')) %}
udp_state="{{freebsd_pf_macro_udp_state}}"
{% endif %}

# ALL
{% if not ((freebsd_pf_macro_all == '') or (freebsd_pf_macro_all == [])) %}
{% for macro_all in freebsd_pf_macro_all %}
# {{macro_all.comment}}
{% for config in macro_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((freebsd_pf_macro_group == '') or (freebsd_pf_macro_group == [])) %}
{% for macro_group in freebsd_pf_macro_group %}
# {{macro_group.comment}}
{% for config in macro_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((freebsd_pf_macro_host == '') or (freebsd_pf_macro_host == [])) %}
{% for macro_host in freebsd_pf_macro_host %}
# {{macro_host.comment}}
{% for config in macro_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TABLES
#-------------------------------------------------------------------------------

# Blacklist
{% if not (freebsd_pf_table_blacklist|match('false|no|disable')) %}
table <blacklist> persist file '{{freebsd_pf_table_blacklist}}'
{% endif %}

# ALL
{% if not ((freebsd_pf_table_all == '') or (freebsd_pf_table_all == [])) %}
{% for table_all in freebsd_pf_table_all %}
# {{table_all.comment}}
{% for config in table_all.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((freebsd_pf_table_group == '') or (freebsd_pf_table_group == [])) %}
{% for table_group in freebsd_pf_table_group %}
# {{table_group.comment}}
{% for config in table_group.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((freebsd_pf_table_host == '') or (freebsd_pf_table_host == [])) %}
{% for table_host in freebsd_pf_table_host %}
# {{table_host.comment}}
{% for config in table_host.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# OPTIONS
#-------------------------------------------------------------------------------

# Block policy (drop, return)
{% if (freebsd_pf_option_block_policy|match('return')) %}
set block-policy return
{% else %}
set block-policy drop
{% endif %}

# Debugging level (none, urgent, misc, loud)
{% if (freebsd_pf_option_debug|match('none')) %}
set debug none
{% elif (freebsd_pf_option_debug|match('misc')) %}
set debug misc
{% elif (freebsd_pf_option_debug|match('loud')) %}
set debug loud
{% else %}
set debug urgent
{% endif %}

# Operating system fingerprints
set fingerprints '{{freebsd_pf_option_fingerprints}}'

# Host ID
{% if not (freebsd_pf_option_hostid|match('false|no|disable')) %}
set hostid {{freebsd_pf_option_hostid}}
{% endif %}

# Limits
{% if not ((freebsd_pf_option_limit == '') or (freebsd_pf_option_limit == [])) %}
{% for limit in freebsd_pf_option_limit %}
# {{limit.comment}}
{% for config in limit.config %}
set limit {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# Log interface (none, <interface>)
{% if not (freebsd_pf_option_loginterface|match('false|no|disable')) %}
set loginterface {{freebsd_pf_option_loginterface}}
{% else %}
set loginterface none
{% endif %}

# Optimization (normal, high-latency, satellite, aggressive, conservative)
{% if (freebsd_pf_option_optimization|match('high-latency')) %}
set optimization high-latency
{% elif (freebsd_pf_option_optimization|match('satellite')) %}
set optimization satellite
{% elif (freebsd_pf_option_optimization|match('aggressive')) %}
set optimization aggressive
{% elif (freebsd_pf_option_optimization|match('conservative')) %}
set optimization conservative
{% else %}
set optimization normal
{% endif %}

# Require order
{% if not (freebsd_pf_table_require_order|match('false|no|disable')) %}
set require-order yes
{% else %}
set require-order no
{% endif %}

# Ruleset optimization (none, basic, profile)
{% if (freebsd_pf_option_ruleset_optimization|match('basic')) %}
set ruleset-optimization basic
{% elif (freebsd_pf_option_ruleset_optimization|match('profile')) %}
set ruleset-optimization profile
{% else %}
set ruleset-optimization none
{% endif %}

# Skip
{% if not ((freebsd_pf_option_skip == '') or (freebsd_pf_option_skip == [])) %}
set skip on {% for option_skip in freebsd_pf_option_skip %}{{option_skip}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

# State defaults
{% if not ((freebsd_pf_option_state_defaults == '') or (freebsd_pf_option_state_defaults == [])) %}
set state-defaults {% for state_groups in freebsd_pf_option_state_defaults %}{{state_groups}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

# State policy (if-bound, floating)
{% if (freebsd_pf_option_state_policy|match('floating')) %}
set state-policy floating
{% else %}
set state-policy if-bound
{% endif %}

# Timeouts
{% if not ((freebsd_pf_option_timeout == '') or (freebsd_pf_option_timeout == [])) %}
{% for timeout in freebsd_pf_option_timeout %}
# {{timeout.comment}}
{% for config in timeout.config %}
set timeout {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TRAFFIC NORMALIZATION
#-------------------------------------------------------------------------------

{% if not ((freebsd_pf_scrub == '') or (freebsd_pf_scrub == [])) %}
{% for scrub in freebsd_pf_scrub %}
# {{scrub.comment}}
{% for config in scrub.config %}
scrub {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# QUEUEING
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# TRANSLATION
#-------------------------------------------------------------------------------

# ALL
{% if not ((freebsd_pf_translation_all == '') or (freebsd_pf_translation_all == [])) %}
{% for translation_all in freebsd_pf_translation_all %}
# {{translation_all.comment}}
{% for config in translation_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((freebsd_pf_translation_group == '') or (freebsd_pf_translation_group == [])) %}
{% for translation_group in freebsd_pf_translation_group %}
# {{translation_group.comment}}
{% for config in translation_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((freebsd_pf_translation_host == '') or (freebsd_pf_translation_host == [])) %}
{% for translation_host in freebsd_pf_translation_host %}
# {{translation_host.comment}}
{% for config in translation_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# PACKET FILTERING
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# IN
#-------------------------------------------------------------------------------

# Default in policy
{% if (freebsd_pf_filter_in_policy|match('pass')) %}
pass in all
{% else %}
block in all
{% endif %}

# ICMP
{% if not ((freebsd_pf_filter_in_icmp == '') or (freebsd_pf_filter_in_icmp == [])) %}
{% for filter_in_icmp in freebsd_pf_filter_in_icmp %}
# {{filter_in_icmp.comment}}
{% for config in filter_in_icmp.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# ALL
{% if not ((freebsd_pf_filter_in_ip_all == '') or (freebsd_pf_filter_in_ip_all == [])) %}
{% for filter_in_ip_all in freebsd_pf_filter_in_ip_all %}
# {{filter_in_ip_all.comment}}
{% for config in filter_in_ip_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((freebsd_pf_filter_in_ip_group == '') or (freebsd_pf_filter_in_ip_group == [])) %}
{% for filter_in_ip_group in freebsd_pf_filter_in_ip_group %}
# {{filter_in_ip_group.comment}}
{% for config in filter_in_ip_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((freebsd_pf_filter_in_ip_host == '') or (freebsd_pf_filter_in_ip_host == [])) %}
{% for filter_in_ip_host in freebsd_pf_filter_in_ip_host %}
# {{filter_in_ip_host.comment}}
{% for config in filter_in_ip_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# OUT
#-------------------------------------------------------------------------------

# Default out policy
{% if (freebsd_pf_filter_out_policy|match('pass')) %}
pass out all
{% else %}
block out all
{% endif %}

# ICMP
{% if not ((freebsd_pf_filter_out_icmp == '') or (freebsd_pf_filter_out_icmp == [])) %}
{% for filter_out_icmp in freebsd_pf_filter_out_icmp %}
# {{filter_out_icmp.comment}}
{% for config in filter_out_icmp.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# ALL
{% if not ((freebsd_pf_filter_out_ip_all == '') or (freebsd_pf_filter_out_ip_all == [])) %}
{% for filter_out_ip_all in freebsd_pf_filter_out_ip_all %}
# {{filter_out_ip_all.comment}}
{% for config in filter_out_ip_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((freebsd_pf_filter_out_ip_group == '') or (freebsd_pf_filter_out_ip_group == [])) %}
{% for filter_out_ip_group in freebsd_pf_filter_out_ip_group %}
# {{filter_out_ip_group.comment}}
{% for config in filter_out_ip_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((freebsd_pf_filter_out_ip_host == '') or (freebsd_pf_filter_out_ip_host == [])) %}
{% for filter_out_ip_host in freebsd_pf_filter_out_ip_host %}
# {{filter_out_ip_host.comment}}
{% for config in filter_out_ip_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
