#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : pf.conf
#   |  _   _  |  Type   : pf configuration file
#   | [_] [_] |  Role   : freebsd_pf
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# MACROS
#-------------------------------------------------------------------------------

# TCP state
{% if (freebsd_pf_macro_tcp_state is defined) and not ((freebsd_pf_macro_tcp_state == None) or (freebsd_pf_macro_tcp_state == '') or (freebsd_pf_macro_tcp_state == 'false') or (freebsd_pf_macro_tcp_state == 'no') or (freebsd_pf_macro_tcp_state == 'disable')) %}
tcp_state="{{freebsd_pf_macro_tcp_state}}"
{% endif %}

# UDP state
{% if (freebsd_pf_macro_udp_state is defined) and not ((freebsd_pf_macro_udp_state == None) or (freebsd_pf_macro_udp_state == '') or (freebsd_pf_macro_udp_state == 'false') or (freebsd_pf_macro_udp_state == 'no') or (freebsd_pf_macro_udp_state == 'disable')) %}
udp_state="{{freebsd_pf_macro_udp_state}}"
{% endif %}

# ALL
{% if (freebsd_pf_macro_all is defined) and not ((freebsd_pf_macro_all == None) or (freebsd_pf_macro_all == '') or (freebsd_pf_macro_all == [])) %}
{% for macro_all in freebsd_pf_macro_all %}
{% if (macro_all.comment is defined) and not ((macro_all.comment == None) or (macro_all.comment == '')) %}
# {{macro_all.comment}}
{% else %}
#
{% endif %}
{% for config in macro_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (freebsd_pf_macro_group is defined) and not ((freebsd_pf_macro_group == None) or (freebsd_pf_macro_group == '') or (freebsd_pf_macro_group == [])) %}
{% for macro_group in freebsd_pf_macro_group %}
{% if (macro_group.comment is defined) and not ((macro_group.comment == None) or (macro_group.comment == '')) %}
# {{macro_group.comment}}
{% else %}
#
{% endif %}
{% for config in macro_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (freebsd_pf_macro_host is defined) and not ((freebsd_pf_macro_host == None) or (freebsd_pf_macro_host == '') or (freebsd_pf_macro_host == [])) %}
{% for macro_host in freebsd_pf_macro_host %}
{% if (macro_host.comment is defined) and not ((macro_host.comment == None) or (macro_host.comment == '')) %}
# {{macro_host.comment}}
{% else %}
#
{% endif %}
{% for config in macro_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TABLES
#-------------------------------------------------------------------------------

# Blacklist
{% if (freebsd_pf_table_blacklist is defined) and not ((freebsd_pf_table_blacklist == 'false') or (freebsd_pf_table_blacklist == 'no') or (freebsd_pf_table_blacklist == 'disable')) %}
table <blacklist> persist file '{{freebsd_pf_table_blacklist}}'
{% endif %}

# ALL
{% if (freebsd_pf_table_all is defined) and not ((freebsd_pf_table_all == None) or (freebsd_pf_table_all == '') or (freebsd_pf_table_all == [])) %}
{% for table_all in freebsd_pf_table_all %}
{% if (table_all.comment is defined) and not ((table_all.comment == None) or (table_all.comment == '')) %}
# {{table_all.comment}}
{% else %}
#
{% endif %}
{% for config in table_all.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (freebsd_pf_table_group is defined) and not ((freebsd_pf_table_group == None) or (freebsd_pf_table_group == '') or (freebsd_pf_table_group == [])) %}
{% for table_group in freebsd_pf_table_group %}
{% if (table_group.comment is defined) and not ((table_group.comment == None) or (table_group.comment == '')) %}
# {{table_group.comment}}
{% else %}
#
{% endif %}
{% for config in table_group.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (freebsd_pf_table_host is defined) and not ((freebsd_pf_table_host == None) or (freebsd_pf_table_host == '') or (freebsd_pf_table_host == [])) %}
{% for table_host in freebsd_pf_table_host %}
{% if (table_host.comment is defined) and not ((table_host.comment == None) or (table_host.comment == '')) %}
# {{table_host.comment}}
{% else %}
#
{% endif %}
{% for config in table_host.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# OPTIONS
#-------------------------------------------------------------------------------

# Block policy (drop, return)
{% if (freebsd_pf_option_block_policy is defined) and (freebsd_pf_option_block_policy == 'return') %}
set block-policy return
{% else %}
set block-policy drop
{% endif %}

# Debugging level (none, urgent, misc, loud)
{% if (freebsd_pf_option_debug is defined) and (freebsd_pf_option_debug == 'none') %}
set debug none
{% elif (freebsd_pf_option_debug is defined) and (freebsd_pf_option_debug == 'misc') %}
set debug misc
{% elif (freebsd_pf_option_debug is defined) and (freebsd_pf_option_debug == 'loud') %}
set debug loud
{% else %}
set debug urgent
{% endif %}

# Operating system fingerprints
{% if (freebsd_pf_option_fingerprints is defined) and not ((freebsd_pf_option_fingerprints == None) or (freebsd_pf_option_fingerprints == '')) %}
set fingerprints '{{freebsd_pf_option_fingerprints}}'
{% endif %}

# Host ID
{% if (freebsd_pf_option_hostid is defined) and not ((freebsd_pf_option_hostid == None) or (freebsd_pf_option_hostid == '')) %}
set hostid {{freebsd_pf_option_hostid}}
{% endif %}

# Limits
{% if (freebsd_pf_limit is defined) and not ((freebsd_pf_limit == None) or (freebsd_pf_limit == '') or (freebsd_pf_limit == [])) %}
{% for limit in freebsd_pf_limit %}
{% if (limit.comment is defined) and not ((limit.comment == None) or (limit.comment == '')) %}
# {{limit.comment}}
{% else %}
#
{% endif %}
{% for config in limit.config %}
set limit {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# Log interface (none, <interface>)
{% if (freebsd_pf_option_loginterface is defined) and not ((freebsd_pf_option_loginterface == None) or (freebsd_pf_option_loginterface == '') or (freebsd_pf_option_loginterface == 'none') or (freebsd_pf_option_loginterface == 'false') or (freebsd_pf_option_loginterface == 'no') or (freebsd_pf_option_loginterface == 'disable')) %}
set loginterface {{freebsd_pf_option_loginterface}}
{% else %}
set loginterface none
{% endif %}

# Optimization (normal, high-latency, satellite, aggressive, conservative)
{% if (freebsd_pf_option_optimization is defined) and (freebsd_pf_option_optimization == 'high-latency') %}
set optimization high-latency
{% elif (freebsd_pf_option_optimization is defined) and (freebsd_pf_option_optimization == 'satellite') %}
set optimization satellite
{% elif (freebsd_pf_option_optimization is defined) and (freebsd_pf_option_optimization == 'aggressive') %}
set optimization aggressive
{% elif (freebsd_pf_option_optimization is defined) and (freebsd_pf_option_optimization == 'conservative') %}
set optimization conservative
{% else %}
set optimization normal
{% endif %}

# Require order
{% if (freebsd_pf_table_require_order is defined) and not ((freebsd_pf_table_require_order == 'false') or (freebsd_pf_table_require_order == 'no') or (freebsd_pf_table_require_order == 'disable')) %}
set require-order yes
{% else %}
set require-order no
{% endif %}

# Ruleset optimization (none, basic, profile)
{% if (freebsd_pf_option_ruleset_optimization is defined) and (freebsd_pf_option_ruleset_optimization == 'basic') %}
set ruleset-optimization basic
{% elif (freebsd_pf_option_ruleset_optimization is defined) and (freebsd_pf_option_ruleset_optimization == 'profile') %}
set ruleset-optimization profile
{% else %}
set ruleset-optimization none
{% endif %}

# Skip
{% if (freebsd_pf_option_skip is defined) and not ((freebsd_pf_option_skip == None) or (freebsd_pf_option_skip == '') or (freebsd_pf_option_skip == [])) %}
set skip on {% for option_skip in freebsd_pf_option_skip %}{{option_skip}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

# State defaults
{% if (freebsd_pf_option_state_defaults is defined) and not ((freebsd_pf_option_state_defaults == None) or (freebsd_pf_option_state_defaults == '') or (freebsd_pf_option_state_defaults == [])) %}
set state-defaults {% for state_groups in freebsd_pf_option_state_defaults %}{{state_groups}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

# State policy (if-bound, floating)
{% if (freebsd_pf_option_state_policy is defined) and (freebsd_pf_option_state_policy == 'floating') %}
set state-policy floating
{% else %}
set state-policy if-bound
{% endif %}

# Timeouts
{% if (freebsd_pf_timeout is defined) and not ((freebsd_pf_timeout == None) or (freebsd_pf_timeout == '') or (freebsd_pf_timeout == [])) %}
{% for timeout in freebsd_pf_timeout %}
{% if (timeout.comment is defined) and not ((timeout.comment == None) or (timeout.comment == '')) %}
# {{timeout.comment}}
{% else %}
#
{% endif %}
{% for config in timeout.config %}
set timeout {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TRAFFIC NORMALIZATION
#-------------------------------------------------------------------------------

{% if (freebsd_pf_scrub is defined) and not ((freebsd_pf_scrub == None) or (freebsd_pf_scrub == '') or (freebsd_pf_scrub == [])) %}
{% for scrub in freebsd_pf_scrub %}
{% if (scrub.comment is defined) and not ((scrub.comment == None) or (scrub.comment == '')) %}
# {{scrub.comment}}
{% else %}
#
{% endif %}
{% for config in scrub.config %}
scrub {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# QUEUEING
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# TRANSLATION
#-------------------------------------------------------------------------------

# ALL
{% if (freebsd_pf_translation_all is defined) and not ((freebsd_pf_translation_all == None) or (freebsd_pf_translation_all == '') or (freebsd_pf_translation_all == [])) %}
{% for translation_all in freebsd_pf_translation_all %}
{% if (translation_all.comment is defined) and not ((translation_all.comment == None) or (translation_all.comment == '')) %}
# {{translation_all.comment}}
{% else %}
#
{% endif %}
{% for config in translation_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (freebsd_pf_translation_group is defined) and not ((freebsd_pf_translation_group == None) or (freebsd_pf_translation_group == '') or (freebsd_pf_translation_group == [])) %}
{% for translation_group in freebsd_pf_translation_group %}
{% if (translation_group.comment is defined) and not ((translation_group.comment == None) or (translation_group.comment == '')) %}
# {{translation_group.comment}}
{% else %}
#
{% endif %}
{% for config in translation_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (freebsd_pf_translation_host is defined) and not ((freebsd_pf_translation_host == None) or (freebsd_pf_translation_host == '') or (freebsd_pf_translation_host == [])) %}
{% for translation_host in freebsd_pf_translation_host %}
{% if (translation_host.comment is defined) and not ((translation_host.comment == None) or (translation_host.comment == '')) %}
# {{translation_host.comment}}
{% else %}
#
{% endif %}
{% for config in translation_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# PACKET FILTERING
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# IN
#-------------------------------------------------------------------------------

# Default in policy
{% if (freebsd_pf_filter_in_policy is defined) and (freebsd_pf_filter_in_policy == 'pass') %}
pass in all
{% else %}
block in all
{% endif %}

# ICMP
{% if (freebsd_pf_filter_in_icmp is defined) and not ((freebsd_pf_filter_in_icmp == None) or (freebsd_pf_filter_in_icmp == '') or (freebsd_pf_filter_in_icmp == [])) %}
{% for filter_in_icmp in freebsd_pf_filter_in_icmp %}
{% if (filter_in_icmp.comment is defined) and not ((filter_in_icmp.comment == None) or (filter_in_icmp.comment == '')) %}
# {{filter_in_icmp.comment}}
{% else %}
#
{% endif %}
{% for config in filter_in_icmp.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# ALL
{% if (freebsd_pf_filter_in_ip_all is defined) and not ((freebsd_pf_filter_in_ip_all == None) or (freebsd_pf_filter_in_ip_all == '') or (freebsd_pf_filter_in_ip_all == [])) %}
{% for filter_in_ip_all in freebsd_pf_filter_in_ip_all %}
{% if (filter_in_ip_all.comment is defined) and not ((filter_in_ip_all.comment == None) or (filter_in_ip_all.comment == '')) %}
# {{filter_in_ip_all.comment}}
{% else %}
#
{% endif %}
{% for config in filter_in_ip_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (freebsd_pf_filter_in_ip_group is defined) and not ((freebsd_pf_filter_in_ip_group == None) or (freebsd_pf_filter_in_ip_group == '') or (freebsd_pf_filter_in_ip_group == [])) %}
{% for filter_in_ip_group in freebsd_pf_filter_in_ip_group %}
{% if (filter_in_ip_group.comment is defined) and not ((filter_in_ip_group.comment == None) or (filter_in_ip_group.comment == '')) %}
# {{filter_in_ip_group.comment}}
{% else %}
#
{% endif %}
{% for config in filter_in_ip_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (freebsd_pf_filter_in_ip_host is defined) and not ((freebsd_pf_filter_in_ip_host == None) or (freebsd_pf_filter_in_ip_host == '') or (freebsd_pf_filter_in_ip_host == [])) %}
{% for filter_in_ip_host in freebsd_pf_filter_in_ip_host %}
{% if (filter_in_ip_host.comment is defined) and not ((filter_in_ip_host.comment == None) or (filter_in_ip_host.comment == '')) %}
# {{filter_in_ip_host.comment}}
{% else %}
#
{% endif %}
{% for config in filter_in_ip_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# OUT
#-------------------------------------------------------------------------------

# Default out policy
{% if (freebsd_pf_filter_out_policy is defined) and (freebsd_pf_filter_out_policy == 'pass') %}
pass out all
{% else %}
block out all
{% endif %}

# ICMP
{% if (freebsd_pf_filter_out_icmp is defined) and not ((freebsd_pf_filter_out_icmp == None) or (freebsd_pf_filter_out_icmp == '') or (freebsd_pf_filter_out_icmp == [])) %}
{% for filter_out_icmp in freebsd_pf_filter_out_icmp %}
{% if (filter_out_icmp.comment is defined) and not ((filter_out_icmp.comment == None) or (filter_out_icmp.comment == '')) %}
# {{filter_out_icmp.comment}}
{% else %}
#
{% endif %}
{% for config in filter_out_icmp.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# ALL
{% if (freebsd_pf_filter_out_ip_all is defined) and not ((freebsd_pf_filter_out_ip_all == None) or (freebsd_pf_filter_out_ip_all == '') or (freebsd_pf_filter_out_ip_all == [])) %}
{% for filter_out_ip_all in freebsd_pf_filter_out_ip_all %}
{% if (filter_out_ip_all.comment is defined) and not ((filter_out_ip_all.comment == None) or (filter_out_ip_all.comment == '')) %}
# {{filter_out_ip_all.comment}}
{% else %}
#
{% endif %}
{% for config in filter_out_ip_all.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (freebsd_pf_filter_out_ip_group is defined) and not ((freebsd_pf_filter_out_ip_group == None) or (freebsd_pf_filter_out_ip_group == '') or (freebsd_pf_filter_out_ip_group == [])) %}
{% for filter_out_ip_group in freebsd_pf_filter_out_ip_group %}
{% if (filter_out_ip_group.comment is defined) and not ((filter_out_ip_group.comment == None) or (filter_out_ip_group.comment == '')) %}
# {{filter_out_ip_group.comment}}
{% else %}
#
{% endif %}
{% for config in filter_out_ip_group.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (freebsd_pf_filter_out_ip_host is defined) and not ((freebsd_pf_filter_out_ip_host == None) or (freebsd_pf_filter_out_ip_host == '') or (freebsd_pf_filter_out_ip_host == [])) %}
{% for filter_out_ip_host in freebsd_pf_filter_out_ip_host %}
{% if (filter_out_ip_host.comment is defined) and not ((filter_out_ip_host.comment == None) or (filter_out_ip_host.comment == '')) %}
# {{filter_out_ip_host.comment}}
{% else %}
#
{% endif %}
{% for config in filter_out_ip_host.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# END
#-------------------------------------------------------------------------------
