#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : translations.conf
# Type   : pf configuration file
# Role   : freebsd_pf
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INCLUDES
#-------------------------------------------------------------------------------

# MACROS
include '/etc/pf/macros.conf'

# TABLES
include '/etc/pf/tables.conf'

# QUEUES
include '/etc/pf/queues.conf'

#-------------------------------------------------------------------------------
# FILTERS
#-------------------------------------------------------------------------------

# ALL

{% for all in freebsd_pf_translations_all|default([]) %}
{% if (all.comment is defined) and not (all.comment == '') %}
# {{all.comment}}
{% endif %}
{%- if (all.action is defined) and (all.action|match('nat')) %}nat {% elif (all.action is defined) and (all.action|match('nonat|no-nat')) %}no nat {% elif (all.action is defined) and (all.action|match('rdr')) %}rdr {% elif (all.action is defined) and (all.action|match('nordr|no-rdr')) %}no rdr {% endif %}
{%- if (all.interfaces is defined) and not (all.interfaces == []) %}on { {% endif %}
{% for source in all.interfaces|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.interfaces is defined) and not (all.interfaces == []) %}} {% endif %}
{%- if (all.version is defined) and (all.version|match('inet6|ipv6')) %}inet6 {% elif (all.version is defined) and (all.version|match('inet|ipv4')) %}inet {% endif %}
{%- if (all.protocols is defined) and not (all.protocols == []) %}proto { {% endif %}
{% for protocol in all.protocols|default([]) %}
{{protocol}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.protocols is defined) and not (all.protocols == []) %}} {% endif %}
{%- if (all.sources is defined) and not (all.sources == []) %}from { {% endif %}
{% for source in all.sources|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.sources is defined) and not (all.sources == []) %}} {% endif %}
{%- if (all.destinations is defined) and not (all.destinations == []) %}to { {% endif %}
{% for destination in all.destinations|default([]) %}
{{destination}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.destinations is defined) and not (all.destinations == []) %}} {% endif %}
{%- if (all.ports is defined) and not (all.ports == []) %}port { {% endif %}
{% for port in all.ports|default([]) %}
{{port}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.ports is defined) and not (all.ports == []) %}} {% endif %}
{% if (all.map is defined) and not (all.map == '') %}-> {{all.map}} {% endif %}
{% if (all.rdr is defined) and not (all.rdr == '') %}-> {{all.rdr}} {% endif %}
{% if not loop.last %}

{% endif %}

{% endfor %}

#-------------------------------------------------------------------------------

# GROUP

{% for group in freebsd_pf_translations_group|default([]) %}
{% if (group.comment is defined) and not (group.comment == '') %}
# {{group.comment}}
{% endif %}
{%- if (group.action is defined) and (group.action|match('nat')) %}nat {% elif (group.action is defined) and (group.action|match('nonat|no-nat')) %}no nat {% elif (group.action is defined) and (group.action|match('rdr')) %}rdr {% elif (group.action is defined) and (group.action|match('nordr|no-rdr')) %}no rdr {% endif %}
{%- if (group.interfaces is defined) and not (group.interfaces == []) %}on { {% endif %}
{% for source in group.interfaces|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (group.interfaces is defined) and not (group.interfaces == []) %}} {% endif %}
{%- if (group.version is defined) and (group.version|match('inet6|ipv6')) %}inet6 {% elif (group.version is defined) and (group.version|match('inet|ipv4')) %}inet {% endif %}
{%- if (group.protocols is defined) and not (group.protocols == []) %}proto { {% endif %}
{% for protocol in group.protocols|default([]) %}
{{protocol}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (group.protocols is defined) and not (group.protocols == []) %}} {% endif %}
{%- if (group.sources is defined) and not (group.sources == []) %}from { {% endif %}
{% for source in group.sources|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (group.sources is defined) and not (group.sources == []) %}} {% endif %}
{%- if (group.destinations is defined) and not (group.destinations == []) %}to { {% endif %}
{% for destination in group.destinations|default([]) %}
{{destination}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (group.destinations is defined) and not (group.destinations == []) %}} {% endif %}
{%- if (group.ports is defined) and not (group.ports == []) %}port { {% endif %}
{% for port in group.ports|default([]) %}
{{port}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (group.ports is defined) and not (group.ports == []) %}} {% endif %}
{% if (group.map is defined) and not (group.map == '') %}-> {{group.map}} {% endif %}
{% if (group.rdr is defined) and not (group.rdr == '') %}-> {{group.rdr}} {% endif %}
{% if not loop.last %}

{% endif %}

{% endfor %}

#-------------------------------------------------------------------------------

# HOST

{% for host in freebsd_pf_translations_host|default([]) %}
{% if (host.comment is defined) and not (host.comment == '') %}
# {{host.comment}}
{% endif %}
{%- if (host.action is defined) and (host.action|match('nat')) %}nat {% elif (host.action is defined) and (host.action|match('nonat|no-nat')) %}no nat {% elif (host.action is defined) and (host.action|match('rdr')) %}rdr {% elif (host.action is defined) and (host.action|match('nordr|no-rdr')) %}no rdr {% endif %}
{%- if (host.interfaces is defined) and not (host.interfaces == []) %}on { {% endif %}
{% for source in host.interfaces|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (host.interfaces is defined) and not (host.interfaces == []) %}} {% endif %}
{%- if (host.version is defined) and (host.version|match('inet6|ipv6')) %}inet6 {% elif (host.version is defined) and (host.version|match('inet|ipv4')) %}inet {% endif %}
{%- if (host.protocols is defined) and not (host.protocols == []) %}proto { {% endif %}
{% for protocol in host.protocols|default([]) %}
{{protocol}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (host.protocols is defined) and not (host.protocols == []) %}} {% endif %}
{%- if (host.sources is defined) and not (host.sources == []) %}from { {% endif %}
{% for source in host.sources|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (host.sources is defined) and not (host.sources == []) %}} {% endif %}
{%- if (host.destinations is defined) and not (host.destinations == []) %}to { {% endif %}
{% for destination in host.destinations|default([]) %}
{{destination}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (host.destinations is defined) and not (host.destinations == []) %}} {% endif %}
{%- if (host.ports is defined) and not (host.ports == []) %}port { {% endif %}
{% for port in host.ports|default([]) %}
{{port}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (host.ports is defined) and not (host.ports == []) %}} {% endif %}
{% if (host.map is defined) and not (host.map == '') %}-> {{host.map}} {% endif %}
{% if (host.rdr is defined) and not (host.rdr == '') %}-> {{host.rdr}} {% endif %}
{% if not loop.last %}

{% endif %}

{% endfor %}

#-------------------------------------------------------------------------------

# DEPENDENCIES

{% for all in freebsd_pf_translations_all|default([]) %}
{% if (all.comment is defined) and not (all.comment == '') %}
# {{all.comment}}
{% endif %}
{%- if (all.action is defined) and (all.action|match('nat')) %}nat {% elif (all.action is defined) and (all.action|match('nonat|no-nat')) %}no nat {% elif (all.action is defined) and (all.action|match('rdr')) %}rdr {% elif (all.action is defined) and (all.action|match('nordr|no-rdr')) %}no rdr {% endif %}
{%- if (all.interfaces is defined) and not (all.interfaces == []) %}on { {% endif %}
{% for source in all.interfaces|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.interfaces is defined) and not (all.interfaces == []) %}} {% endif %}
{%- if (all.version is defined) and (all.version|match('inet6|ipv6')) %}inet6 {% elif (all.version is defined) and (all.version|match('inet|ipv4')) %}inet {% endif %}
{%- if (all.protocols is defined) and not (all.protocols == []) %}proto { {% endif %}
{% for protocol in all.protocols|default([]) %}
{{protocol}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.protocols is defined) and not (all.protocols == []) %}} {% endif %}
{%- if (all.sources is defined) and not (all.sources == []) %}from { {% endif %}
{% for source in all.sources|default([]) %}
{{source}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.sources is defined) and not (all.sources == []) %}} {% endif %}
{%- if (all.destinations is defined) and not (all.destinations == []) %}to { {% endif %}
{% for destination in all.destinations|default([]) %}
{{destination}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.destinations is defined) and not (all.destinations == []) %}} {% endif %}
{%- if (all.ports is defined) and not (all.ports == []) %}port { {% endif %}
{% for port in all.ports|default([]) %}
{{port}}{% if not loop.last %}, {% else %} {% endif %}
{% endfor %}
{%- if (all.ports is defined) and not (all.ports == []) %}} {% endif %}
{% if (all.map is defined) and not (all.map == '') %}-> {{all.map}} {% endif %}
{% if (all.rdr is defined) and not (all.rdr == '') %}-> {{all.rdr}} {% endif %}
{% if not loop.last %}

{% endif %}

{% endfor %}

#-------------------------------------------------------------------------------
