---

- name: import tasks install
  import_tasks: install.yml
  when: not (htop_state is match('false|no|remove|quiesce|inactive'))
  tags:
    - htop

- name: import tasks remove
  import_tasks: remove.yml
  when: (htop_state is match('false|no|remove'))
  tags:
    - htop
