#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : bash.sh
#   |  _   _  |  Type   : environment variable configuration file
#   | [_] [_] |  Role   : bash
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# All default Bash environment variables have been moved from 'bash.bash' to
# 'zz_bash.bash'. Files in '/etc/profile.d/' are loaded in alphabetical order.
# Changing the order helps to ensure important variables do not get overwritten.
#
#-------------------------------------------------------------------------------
