#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : bash.bash
# Type   : environment variable configuration file
# Role   : bash
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# NOTE
#-------------------------------------------------------------------------------
#
# All default Bash environment variables have been moved from 'bash.bash' to
# 'zz_bash.bash'. Files in '/etc/profile.d/' are loaded in alphabetical order.
# Changing the order helps to ensure important variables do not get overwritten.
#
#-------------------------------------------------------------------------------
