
--------------------------------------------------------------------------------

   _ _         Hostname        : [0m[1;33m{{ansible_hostname}}[0m
  | (_)_   __  Description     : [0m[1;33m{{motd_host_description}}[0m
  | | \ \ / /  Environment     : [0m[{% if (motd_env_name is defined) and ((motd_env_name == 'Production') or (motd_env_name == 'production') or (motd_env_name == 'Prod') or (motd_env_name == 'prod')) %}1;31m{% elif (motd_env_name is defined) and ((motd_env_name == 'Test') or (motd_env_name == 'test') or (motd_env_name == 'Testing') or (motd_env_name == 'testing')) %}1;32m{% else %}0;33m{% endif %}{{motd_env_name}}[0m
  | | |\ V /   Operating System: [0m[{% if (motd_os_color is defined) and not ((motd_os_color == None) or (motd_os_color == '')) %}{{motd_os_color}}{% else %}0;37m{% endif %}{{ansible_distribution}} {{ansible_distribution_release}} ({{ansible_machine}})[0m
  |_|_| \_/    Processor Count : [0m[0;31m{{ansible_processor_count}}[0m
               Memory Size     : [0;31m{{ansible_memtotal_mb}} MB[0m

--------------------------------------------------------------------------------

