#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : tables.conf
# Type   : pf configuration file
# Role   : openbsd_pf
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# TABLES
#-------------------------------------------------------------------------------

# ALL

{% for all in openbsd_pf_tables_all|default([]) %}
{% if (all.comment is defined) and not (all.comment == '') %}
# {{all.comment}}
{% endif %}
table {% if (all.name is defined) and not (all.name == '') %}<{{all.name}}> {% endif %}
{%- if (all.attribute is defined) and (all.attribute is match('counters')) %}counters{% elif (all.attribute is defined) and (all.attribute is match('counters')) %}persistq {% else %}const {% endif %}
{ {% for value in all.value|default([]) %}
{{value}}{% if not loop.last %}, {% endif %}
{%- endfor %} }
{% if not loop.last %}

{% endif %}
{% endfor %}

#-------------------------------------------------------------------------------

# GROUP

{% for group in openbsd_pf_tables_group|default([]) %}
{% if (group.comment is defined) and not (group.comment == '') %}
# {{group.comment}}
{% endif %}
table {% if (group.name is defined) and not (group.name == '') %}<{{group.name}}> {% endif %}
{%- if (group.attribute is defined) and (group.attribute is match('counters')) %}counters{% elif (group.attribute is defined) and (group.attribute is match('counters')) %}persistq {% else %}const {% endif %}
{ {% for value in group.value|default([]) %}
{{value}}{% if not loop.last %}, {% endif %}
{%- endfor %} }
{% if not loop.last %}

{% endif %}
{% endfor %}


#-------------------------------------------------------------------------------

# HOST

{% for host in openbsd_pf_tables_host|default([]) %}
{% if (host.comment is defined) and not (host.comment == '') %}
# {{host.comment}}
{% endif %}
table {% if (host.name is defined) and not (host.name == '') %}<{{host.name}}> {% endif %}
{%- if (host.attribute is defined) and (host.attribute is match('counters')) %}counters{% elif (host.attribute is defined) and (host.attribute is match('counters')) %}persistq {% else %}const {% endif %}
{ {% for value in host.value|default([]) %}
{{value}}{% if not loop.last %}, {% endif %}
{%- endfor %} }
{% if not loop.last %}

{% endif %}
{% endfor %}

#-------------------------------------------------------------------------------
