#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : sshd_config
#   |  _   _  |  Type   : openssh configuration file
#   | [_] [_] |  Role   : openssh
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

#	$OpenBSD: sshd_config,v 1.93 2014/01/10 05:59:19 djm Exp $
#	$FreeBSD: releng/10.1/crypto/openssh/sshd_config 264692 2014-04-20 12:46:18Z des $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# Note that some of FreeBSD's defaults differ from OpenBSD's, and
# FreeBSD has a few additional options.

#-------------------------------------------------------------------------------
# PORT
#-------------------------------------------------------------------------------

{% if (openssh_port is defined) and not ((openssh_port == None) or (openssh_port == '') or (openssh_port == [])) %}
{% for port in openssh_port %}
Port {{(port|int(22))}}
{% endfor %}
{% else %}
Port 22
{% endif %}

#-------------------------------------------------------------------------------
# ADDRESS FAMILY
#-------------------------------------------------------------------------------

{% if (openssh_address_family is defined) and ((openssh_address_family == 'any') or (openssh_address_family == 'ANY') or (openssh_address_family == 'all') or (openssh_address_family == 'ALL')) %}
AddressFamily any
{% elif (openssh_address_family is defined) and ((openssh_address_family == 'inet') or (openssh_address_family == 'ipv4')) %}
AddressFamily inet
{% elif (openssh_address_family is defined) and ((openssh_address_family == 'inet6') or (openssh_address_family == 'ipv6')) %}
AddressFamily inet6
{% else %}
#AddressFamily
{% endif %}

#-------------------------------------------------------------------------------
# LISTEN ADDRESS
#-------------------------------------------------------------------------------

{% if (openssh_listen_address is defined) and not ((openssh_listen_address == None) or (openssh_listen_address == '') or (openssh_listen_address == [])) %}
{% for listen_address in openssh_listen_address %}
ListenAddress {{listen_address}}
{% endfor %}
{% else %}
#ListenAddress 0.0.0.0
#ListenAddress ::
{% endif %}

#-------------------------------------------------------------------------------
# PROTOCOL
#-------------------------------------------------------------------------------

# The default requires explicit activation of protocol 1
Protocol 2

#-------------------------------------------------------------------------------
# HOST KEY
#-------------------------------------------------------------------------------

{% if (openssh_host_key is defined) and not ((openssh_host_key == None) or (openssh_host_key == '') or (openssh_host_key == [])) %}
{% for host_key in openssh_host_key %}
HostKey {{(host_key|e)}}
{% endfor %}
{% else %}
# HostKey for protocol version 1
#HostKey /etc/ssh/ssh_host_key
# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_dsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
{% endif %}

#-------------------------------------------------------------------------------
# CIPHERS
#-------------------------------------------------------------------------------

{% if (openssh_ciphers is defined) and not ((openssh_ciphers == None) or (openssh_ciphers == '') or (openssh_ciphers == [])) %}
Ciphers {% for ciphers in openssh_ciphers %}{{ciphers}}{% if not loop.last %},{% endif %}{% endfor %}

{% else %}
Ciphers chacha20-poly1305@openssh.com,aes256-ctr,aes192-ctr
{% endif %}

#-------------------------------------------------------------------------------
# KEY EXCHANGE ALGORITHMs
#-------------------------------------------------------------------------------

{% if (openssh_kex_algorithms is defined) and not ((openssh_kex_algorithms == None) or (openssh_kex_algorithms == '') or (openssh_kex_algorithms == [])) %}
KexAlgorithms {% for kex_algorithms in openssh_kex_algorithms %}{{kex_algorithms}}{% if not loop.last %},{% endif %}{% endfor %}

{% else %}
KexAlgorithms curve25519-sha256@libssh.org
{% endif %}

#-------------------------------------------------------------------------------
# MESSAGE AUTHENTICATION CODE ALGORITHMS
#-------------------------------------------------------------------------------

{% if (openssh_macs is defined) and not ((openssh_macs == None) or (openssh_macs == '') or (openssh_macs == [])) %}
MACs {% for macs in openssh_macs %}{{macs}}{% if not loop.last %},{% endif %}{% endfor %}

{% else %}
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160
{% endif %}

#-------------------------------------------------------------------------------

# Lifetime and size of ephemeral version 1 server key
#KeyRegenerationInterval 1h
#ServerKeyBits 1024

# Ciphers and keying
#RekeyLimit default none

#-------------------------------------------------------------------------------
# LOGGING
#-------------------------------------------------------------------------------

# Logging
# obsoletes QuietMode and FascistLogging
#SyslogFacility AUTH
#LogLevel INFO

#-------------------------------------------------------------------------------
# AUTHENTICATION
#-------------------------------------------------------------------------------

# Authentication:

#LoginGraceTime 2m
#PermitRootLogin no
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

{% if (openssh_rsa_authentication is defined) and ((openssh_rsa_authentication == 'false') or (openssh_rsa_authentication == 'no') or (openssh_rsa_authentication == 'disable')) %}
RSAAuthentication no
{% else %}
RSAAuthentication yes
{% endif %}
{% if (openssh_pubkey_authentication is defined) and ((openssh_pubkey_authentication == 'false') or (openssh_pubkey_authentication == 'no') or (openssh_pubkey_authentication == 'disable')) %}
PubkeyAuthentication no
{% else %}
PubkeyAuthentication yes
{% endif %}

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
#AuthorizedKeysFile .ssh/authorized_keys .ssh/authorized_keys2

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

# Change to yes to enable built-in password authentication.
{% if (openssh_password_authentication is defined) and ((openssh_password_authentication == 'false') or (openssh_password_authentication == 'no') or (openssh_password_authentication == 'disable')) %}
PasswordAuthentication no
{% else %}
PasswordAuthentication yes
{% endif %}
PermitEmptyPasswords no

# Change to no to disable PAM authentication
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

# Set this to 'no' to disable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

#-------------------------------------------------------------------------------
# FORWARDING
#-------------------------------------------------------------------------------

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
{% if (openssh_x11_forwarding is defined) and ((openssh_x11_forwarding == 'true') or (openssh_x11_forwarding == 'yes') or (openssh_x11_forwarding == 'enable')) %}
X11Forwarding yes
{% else %}
X11Forwarding no
{% endif %}
{% if (openssh_x11_forwarding is defined) and ((openssh_x11_forwarding == 'true') or (openssh_x11_forwarding == 'yes') or (openssh_x11_forwarding == 'enable')) %}
#X11DisplayOffset 10
{% if (openssh_x11_use_localhost is defined) and ((openssh_x11_use_localhost == 'true') or (openssh_x11_use_localhost == 'yes') or (openssh_x11_use_localhost == 'enable')) %}
X11UseLocalhost yes
{% else %}
X11UseLocalhost no
{% endif %}
{% endif %}

#-------------------------------------------------------------------------------
# OTHER
#-------------------------------------------------------------------------------

#PermitTTY yes
{% if (openssh_print_motd is defined) and ((openssh_print_motd == 'true') or (openssh_print_motd == 'yes') or (openssh_print_motd == 'enable')) %}
PrintMotd yes
{% else %}
PrintMotd no
{% endif %}
{% if (openssh_print_last_log is defined) and ((openssh_print_last_log == 'false') or (openssh_print_last_log == 'no') or (openssh_print_last_log == 'disable')) %}
PrintLastLog no
{% else %}
PrintLastLog yes
{% endif %}
{% if (openssh_tcp_keep_alive is defined) and ((openssh_tcp_keep_alive == 'false') or (openssh_tcp_keep_alive == 'no') or (openssh_tcp_keep_alive == 'disable')) %}
TCPKeepAlive no
{% else %}
TCPKeepAlive yes
{% endif %}
#UseLogin no
#UsePrivilegeSeparation sandbox
#PermitUserEnvironment no
{% if (openssh_compression is defined) and ((openssh_compression == 'true') or (openssh_compression == 'yes') or (openssh_compression == 'enable')) %}
Compression yes
{% elif (openssh_compression is defined) and ((openssh_compression == 'false') or (openssh_compression == 'no') or (openssh_compression == 'disable')) %}
Compression no
{% else %}
Compression delayed
{% endif %}
#ClientAliveInterval 0
#ClientAliveCountMax 3
{% if (openssh_use_dns is defined) and ((openssh_use_dns == 'false') or (openssh_use_dns == 'no') or (openssh_use_dns == 'disable')) %}
UseDNS no
{% else %}
UseDNS yes
{% endif %}

#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum FreeBSD-20140420

#-------------------------------------------------------------------------------
# BANNER
#-------------------------------------------------------------------------------

# no default banner path
{% if (openssh_banner is defined) and ((openssh_banner == 'false') or (openssh_banner == 'no') or (openssh_banner == 'disable')) %}
Banner none
{% else %}
Banner {{file_path_banner}}
{% endif %}

#-------------------------------------------------------------------------------
# SUBSYSTEM
#-------------------------------------------------------------------------------

# override default of no subsystems
Subsystem	sftp	/usr/libexec/sftp-server

#-------------------------------------------------------------------------------

# Disable HPN tuning improvements.
#HPNDisabled no

# Buffer size for HPN to non-HPN connections.
#HPNBufferSize 2048

# TCP receive socket buffer polling for HPN.  Disable on non autotuning kernels.
#TcpRcvBufPoll yes

# Allow the use of the NONE cipher.
#NoneEnabled no

#-------------------------------------------------------------------------------
# CONDITIONAL
#-------------------------------------------------------------------------------

{% if (openssh_match is defined) and not ((openssh_match == None) or (openssh_match == '') or (openssh_match == [])) %}
{% for match in openssh_match %}
Match {{match.type}} {{match.name}}
{% for key, value in (match.config.items()|sort) %}
  {{key}} {{value}}
{% endfor %}

{% endfor %}
{% else %}
# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
{% endif %}

#-------------------------------------------------------------------------------
# ACCESS RESTRICTION
#-------------------------------------------------------------------------------

# Specifies whether root can log in using ssh.
{% if (openssh_permit_root_login is defined) and ((openssh_permit_root_login == 'true') or (openssh_permit_root_login == 'yes') or (openssh_permit_root_login == 'enable')) %}
PermitRootLogin yes
{% else %}
PermitRootLogin no
{% endif %}

# Login is disallowed for user names that match one of the patterns.
{% if (openssh_deny_users is defined) and not ((openssh_deny_users == None) or (openssh_deny_users == '') or (openssh_deny_users == [])) %}
DenyUsers {% for deny_users in openssh_deny_users %}{{deny_users}}{% if not loop.last %} {% endif %}{% endfor %}

{% else %}
#DenyUsers

{% endif %}

# Login is allowed only for user names that match one of the patterns.
{% if (openssh_allow_users is defined) and not ((openssh_allow_users == None) or (openssh_allow_users == '') or (openssh_allow_users == [])) %}
AllowUsers {% for allow_users in openssh_allow_users %}{{allow_users}}{% if not loop.last %} {% endif %}{% endfor %}

{% else %}
#AllowUsers

{% endif %}

# Login is disallowed for users whose primary group or
# supplementary group list matches one of the patterns.
{% if (openssh_deny_groups is defined) and not ((openssh_deny_groups == None) or (openssh_deny_groups == '') or (openssh_deny_groups == [])) %}
DenyGroups {% for deny_groups in openssh_deny_groups %}{{deny_groups}}{% if not loop.last %} {% endif %}{% endfor %}

{% else %}
#DenyGroups

{% endif %}

# Login is allowed only for users whose primary group or
# supplementary group list matches one of the patterns.
{% if (openssh_allow_groups is defined) and not ((openssh_allow_groups == None) or (openssh_allow_groups == '') or (openssh_allow_groups == [])) %}
AllowGroups {% for allow_groups in openssh_allow_groups %}{{allow_groups}}{% if not loop.last %} {% endif %}{% endfor %}

{% else %}
#AllowGroups

{% endif %}
