---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - enable
    - nginx

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create nginx.conf'
  template:
    src: "{{file_src_nginx_conf}}"
    dest: "{{file_dst_nginx_conf}}"
    mode: "{{file_mode_nginx_conf}}"
    owner: "{{file_owner_nginx_conf}}"
    group: "{{file_group_nginx_conf}}"
  notify:
    - 'command check nginx'
    - 'service reload nginx'
  tags:
    - enable
    - nginx

- name: 'line enable nginx_enable'
  lineinfile:
    state: 'present'
    line: "{{file_line_nginx_enable}}=\"YES\" # Ansible: Enable nginx"
    regexp: "^{{file_line_nginx_enable}}="
    dest: "{{file_dst_nginx_enable}}"
    create: 'yes'
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - enable
    - nginx

#-------------------------------------------------------------------------------
# COMMANDS
#-------------------------------------------------------------------------------

- name: 'command status nginx'
  command: "{{command_cmd_status_nginx}}"
  register: register_status_nginx
  changed_when: (register_status_nginx.rc > 1)
  failed_when: (register_status_nginx.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - enable
    - nginx

- name: 'command enable nginx'
  command: "{{command_cmd_enable_nginx}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_status_nginx.rc == 1)
  tags:
    - enable
    - nginx

- name: 'command check nginx'
  command: "{{command_cmd_check_nginx}}"
  register: register_check_nginx
  changed_when: (register_check_nginx.rc > 1)
  failed_when: (register_check_nginx.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - enable
    - nginx

- name: 'command start nginx'
  command: "{{command_cmd_start_nginx}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_check_nginx.rc == 1)
  tags:
    - enable
    - nginx

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'service start nginx'
  service:
    state: 'started'
    enabled: 'yes'
    name: "{{service_name_nginx}}"
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - enable
    - nginx
