#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : ansible_run-playbook.cron
#   |  _   _  |  Type   : cronjob
#   | [_] [_] |  Role   : ansible
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This cronjob runs Ansible playbooks on a regular basis.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SHELL VARIABLES
#-------------------------------------------------------------------------------

SHELL='/bin/sh'
PATH='/sbin:/bin:/usr/sbin:/usr/bin'
MAILTO='{{file_owner_ansible_run_playbook_sh}}'

#-------------------------------------------------------------------------------
# CRONJOB
#-------------------------------------------------------------------------------

{% if (ansible_run_playbook_cron_minute is defined) and ((ansible_run_playbook_cron_minute|int(30)) > 59) %}59{% elif (ansible_run_playbook_cron_minute is defined) and ((ansible_run_playbook_cron_minute|int(30)) < 1) %}1{% else %}{{(ansible_run_playbook_cron_minute|int(30))}}{% endif %} {% if (ansible_run_playbook_cron_hour is defined) and ((ansible_run_playbook_cron_hour|int(7)) > 24) %}0{% elif (ansible_run_playbook_cron_hour is defined) and ((ansible_run_playbook_cron_hour|int(7)) < 0) %}0{% else %}{{ansible_run_playbook_cron_hour}}{% endif %} * * * {{file_owner_ansible_run_playbook_sh}} {{file_path_ansible_run_playbook_sh}}
