---

- name: import tasks install
  import_tasks: install.yml
  when: not (colordiff_state is match('false|no|remove|quiesce|inactive'))
  tags:
    - colordiff

- name: import tasks remove
  import_tasks: remove.yml
  when: (colordiff_state is match('false|no|remove'))
  tags:
    - colordiff
