---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - remove
    - opensmtpd

#-------------------------------------------------------------------------------
# COMMANDS
#-------------------------------------------------------------------------------

- name: 'command status opensmtpd'
  command: "{{command_cmd_status_opensmtpd}}"
  register: register_status_opensmtpd
  changed_when: (register_status_opensmtpd.rc > 1)
  failed_when: (register_status_opensmtpd.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - remove
    - opensmtpd

- name: 'command disable opensmtpd'
  command: "{{command_cmd_disable_opensmtpd}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_status_opensmtpd.rc == 0)
  tags:
    - remove
    - opensmtpd

- name: 'command check opensmtpd'
  command: "{{command_cmd_check_opensmtpd}}"
  register: register_check_opensmtpd
  changed_when: (register_check_opensmtpd.rc > 1)
  failed_when: (register_check_opensmtpd.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - remove
    - opensmtpd

- name: 'command stop opensmtpd'
  command: "{{command_cmd_stop_opensmtpd}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_check_opensmtpd.rc == 0)
  tags:
    - remove
    - opensmtpd

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file remove opensmtpd.cfg'
  file:
    state: 'absent'
    path: "{{file_dst_opensmtpd_cfg}}"
  notify: 'service reload monit'
  tags:
    - remove
    - opensmtpd

- name: 'file remove secrets'
  file:
    state: 'absent'
    path: "{{file_dst_secrets}}"
  tags:
    - remove
    - opensmtpd
