#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : freebsd.info
#   |  _   _  |  Type   : information file
#   | [_] [_] |  Role   : systeminfo
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file holds information on how to patch a FreeBSD system.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# KERNEL UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SYSTEM UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# WORLD UPDATE
#-------------------------------------------------------------------------------
