---

- name: 'task include install'
  import_tasks: install.yml
  when: not (common_state is match('false|no|remove|quiesce|inactive'))
  tags:
    - common

- name: 'task include remove'
  import_tasks: remove.yml
  when: (common_state is match('false|no|remove'))
  tags:
    - common
