#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config
# Type   : monit configuration file
# Role   : monit
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% if (item.comment is defined) and not (item.comment == '') %}
#-------------------------------------------------------------------------------
# {{(item.comment|upper)}}
#-------------------------------------------------------------------------------

{% endif %}
{% if (item.config is defined) and not (item.config == []) %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endif %}
