#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config
# Type   : monit configuration file
# Role   : monit
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% if not ((item.comment|default('')) == '') %}
#-------------------------------------------------------------------------------
# {{(item.comment|upper)}}
#-------------------------------------------------------------------------------

{% endif %}
{% if not ((item.config|default('')) == '') %}
{{item.config}}
{% endif %}
