#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#
#   _ _         Name   : monit-config
#  | (_)_   __  Type   : monit configuration file
#  | | \ \ / /  Role   : monit
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# {{(item.comment|e)}}
{% if (item.config is defined) and not ((item.config == '') or (item.config == [])) %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endif %}
