#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : monit-config
# Type   : monit configuration file
# Role   : monit
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# {{(item.comment|e)}}
{% if (item.config is defined) and not ((item.config == '') or (item.config == [])) %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endif %}
