---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - install
    - suricata

#-------------------------------------------------------------------------------
# PACKAGING
#-------------------------------------------------------------------------------

- name: 'package install suricata'
  package:
    state: 'present'
    name: "{{package_name_suricata}}"
  tags:
    - install
    - suricata

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create eve.json'
  copy:
    content: ''
    force: 'no'
    dest: "{{file_dst_eve_json}}"
    mode: "{{file_mode_eve_json}}"
    owner: "{{file_owner_eve_json}}"
    group: "{{file_group_eve_json}}"
  tags:
    - install
    - suricata

- name: 'file create fast.log'
  copy:
    content: ''
    force: 'no'
    dest: "{{file_dst_fast_log}}"
    mode: "{{file_mode_fast_log}}"
    owner: "{{file_owner_fast_log}}"
    group: "{{file_group_fast_log}}"
  tags:
    - install
    - suricata

- name: 'file create stats.log'
  copy:
    content: ''
    force: 'no'
    dest: "{{file_dst_stats_log}}"
    mode: "{{file_mode_stats_log}}"
    owner: "{{file_owner_stats_log}}"
    group: "{{file_group_stats_log}}"
  tags:
    - install
    - suricata

- name: 'stat file suricata.rules'
  stat:
    path: "{{file_dst_suricata_rules}}"
  register: register_suricata_rules
  tags:
    - install
    - suricata

#-------------------------------------------------------------------------------
# COMMANDS
#-------------------------------------------------------------------------------

- name: 'command update suricata'
  shell: "{{command_cmd_update_suricata}}"
  check_mode: 'no'
  when: (register_suricata_rules.stat.exists == False)
  tags:
    - install
    - suricata
