#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : sysctl.conf
# Type   : sysctl configuration file
# Role   : sysctl
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

