{{ansible_managed|comment(decoration='#')}}

# $OpenBSD: ntpd.conf,v 1.14 2015/07/15 20:28:37 ajacoutot Exp $
#
# See ntpd.conf(5) and /etc/examples/ntpd.conf

#-------------------------------------------------------------------------------
# LISTEN
#-------------------------------------------------------------------------------

# Addresses to listen on (ntpd does not listen by default)
#listen on *

{% if not (openntpd_listen == []) %}
{% for item in openntpd_listen %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
listen on {{item.address}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# SERVER
#-------------------------------------------------------------------------------

# sync to a single server
#server ntp.example.org

{% if not (openntpd_server == []) %}
{% for item in openntpd_server %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
server {{item.address}} {% if not ((item.weight|default('')) == '') %}weight {{(item.weight|int(1))}}{% endif %}

{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# SERVERS
#-------------------------------------------------------------------------------

# use a random selection of NTP Pool Time Servers
# see http://support.ntp.org/bin/view/Servers/NTPPoolServers
#servers pool.ntp.org

{% if not (openntpd_servers == []) %}
{% for item in openntpd_servers %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
servers {{item.address}} {% if not ((item.weight|default('')) == '') %}weight {{(item.weight|int(1))}}{% endif %}

{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# SENSOR
#-------------------------------------------------------------------------------

# use a specific local timedelta sensor (radio clock, etc)
#sensor nmea0

# use all detected timedelta sensors
#sensor *

#-------------------------------------------------------------------------------
# CONSTRAINT
#-------------------------------------------------------------------------------

# get the time constraint from a well-known HTTPS site
#constraints from "https://www.google.com/"
