#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : pf.conf
#   |  _   _  |  Type   : pf configuration file
#   | [_] [_] |  Role   : pf
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# MACROS
#-------------------------------------------------------------------------------

# TCP state
{% if (pf_macro_tcp_state is defined) and not ((pf_macro_tcp_state == None) or (pf_macro_tcp_state == '') or (pf_macro_tcp_state == 'false') or (pf_macro_tcp_state == 'no') or (pf_macro_tcp_state == 'disable')) %}
tcp_state="{{pf_macro_tcp_state}}"
{% endif %}

# UDP state
{% if (pf_macro_udp_state is defined) and not ((pf_macro_udp_state == None) or (pf_macro_udp_state == '') or (pf_macro_udp_state == 'false') or (pf_macro_udp_state == 'no') or (pf_macro_udp_state == 'disable')) %}
udp_state="{{pf_macro_udp_state}}"
{% endif %}

# MACRO DEFAULT
{% if (pf_macro_default is defined) and not ((pf_macro_default == None) or (pf_macro_default == '') or (pf_macro_default == [])) %}
{% for macro_default in pf_macro_default %}
{% if (macro_default.comment is defined) and not ((macro_default.comment == None) or (macro_default.comment == '')) %}
# {{macro_default.comment}}
{% else %}
#
{% endif %}
{% for config in macro_default.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# MACRO CUSTOM
{% if (pf_macro_custom is defined) and not ((pf_macro_custom == None) or (pf_macro_custom == '') or (pf_macro_custom == [])) %}
{% for macro_custom in pf_macro_custom %}
{% if (macro_custom.comment is defined) and not ((macro_custom.comment == None) or (macro_custom.comment == '')) %}
# {{macro_custom.comment}}
{% else %}
#
{% endif %}
{% for config in macro_custom.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TABLES
#-------------------------------------------------------------------------------

# Blacklist
{% if (pf_table_blacklist is defined) and not ((pf_table_blacklist == 'false') or (pf_table_blacklist == 'no') or (pf_table_blacklist == 'disable')) %}
table <blacklist> persist file '{{pf_table_blacklist}}'
{% endif %}

# DEFAULT
{% if (pf_table_default is defined) and not ((pf_table_default == None) or (pf_table_default == '') or (pf_table_default == [])) %}
{% for table_default in pf_table_default %}
{% if (table_default.comment is defined) and not ((table_default.comment == None) or (table_default.comment == '')) %}
# {{table_default.comment}}
{% else %}
#
{% endif %}
{% for config in table_default.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# CUSTOM
{% if (pf_table_custom is defined) and not ((pf_table_custom == None) or (pf_table_custom == '') or (pf_table_custom == [])) %}
{% for table_custom in pf_table_custom %}
{% if (table_custom.comment is defined) and not ((table_custom.comment == None) or (table_custom.comment == '')) %}
# {{table_custom.comment}}
{% else %}
#
{% endif %}
{% for config in table_custom.config %}
table {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# OPTIONS
#-------------------------------------------------------------------------------

# Block policy (drop, return)
{% if (pf_option_block_policy is defined) and (pf_option_block_policy == 'return') %}
set block-policy return
{% else %}
set block-policy drop
{% endif %}

# Debugging level (none, urgent, misc, loud)
{% if (pf_option_debug is defined) and (pf_option_debug == 'none') %}
set debug none
{% elif (pf_option_debug is defined) and (pf_option_debug == 'misc') %}
set debug misc
{% elif (pf_option_debug is defined) and (pf_option_debug == 'loud') %}
set debug loud
{% else %}
set debug urgent
{% endif %}

# Operating system fingerprints
{% if (pf_option_fingerprints is defined) and not ((pf_option_fingerprints == None) or (pf_option_fingerprints == '')) %}
set fingerprints '{{pf_option_fingerprints}}'
{% endif %}

# Host ID
{% if (pf_option_hostid is defined) and not ((pf_option_hostid == None) or (pf_option_hostid == '')) %}
set hostid {{pf_option_hostid}}
{% endif %}

# Limits
{% if (pf_limit is defined) and not ((pf_limit == None) or (pf_limit == '') or (pf_limit == [])) %}
{% for limit in pf_limit %}
{% if (limit.comment is defined) and not ((limit.comment == None) or (limit.comment == '')) %}
# {{limit.comment}}
{% else %}
#
{% endif %}
{% for config in limit.config %}
set limit {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# Log interface (none, <interface>)
{% if (pf_option_loginterface is defined) and not ((pf_option_loginterface == None) or (pf_option_loginterface == '') or (pf_option_loginterface == 'none') or (pf_option_loginterface == 'false') or (pf_option_loginterface == 'no') or (pf_option_loginterface == 'disable')) %}
set loginterface {{pf_option_loginterface}}
{% else %}
set loginterface none
{% endif %}

# Optimization (normal, high-latency, satellite, aggressive, conservative)
{% if (pf_option_optimization is defined) and (pf_option_optimization == 'high-latency') %}
set optimization high-latency
{% elif (pf_option_optimization is defined) and (pf_option_optimization == 'satellite') %}
set optimization satellite
{% elif (pf_option_optimization is defined) and (pf_option_optimization == 'aggressive') %}
set optimization aggressive
{% elif (pf_option_optimization is defined) and (pf_option_optimization == 'conservative') %}
set optimization conservative
{% else %}
set optimization normal
{% endif %}

# Require order
{% if (pf_table_require_order is defined) and not ((pf_table_require_order == 'false') or (pf_table_require_order == 'no') or (pf_table_require_order == 'disable')) %}
set require-order yes
{% else %}
set require-order no
{% endif %}

# Ruleset optimization (none, basic, profile)
{% if (pf_option_ruleset_optimization is defined) and (pf_option_ruleset_optimization == 'basic') %}
set ruleset-optimization basic
{% elif (pf_option_ruleset_optimization is defined) and (pf_option_ruleset_optimization == 'profile') %}
set ruleset-optimization profile
{% else %}
set ruleset-optimization none
{% endif %}

# Skip
{% if (pf_option_skip is defined) and not ((pf_option_skip == None) or (pf_option_skip == '') or (pf_option_skip == [])) %}
set skip on {% for option_skip in pf_option_skip %}{{option_skip}}{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}


# State defaults
{% if (pf_option_state_defaults is defined) and not ((pf_option_state_defaults == None) or (pf_option_state_defaults == '') or (pf_option_state_defaults == [])) %}
set state-defaults {% for state_defaults in pf_option_state_defaults %}{{state_defaults}}{% if not loop.last %}, {% endif %}{% endfor %}
{% endif %}


# State policy (if-bound, floating)
{% if (pf_option_state_policy is defined) and (pf_option_state_policy == 'floating') %}
set state-policy floating
{% else %}
set state-policy if-bound
{% endif %}

# Timeouts
{% if (pf_timeout is defined) and not ((pf_timeout == None) or (pf_timeout == '') or (pf_timeout == [])) %}
{% for timeout in pf_timeout %}
{% if (timeout.comment is defined) and not ((timeout.comment == None) or (timeout.comment == '')) %}
# {{timeout.comment}}
{% else %}
#
{% endif %}
{% for config in timeout.config %}
set timeout {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TRAFFIC NORMALIZATION
#-------------------------------------------------------------------------------

{% if (pf_scrub is defined) and not ((pf_scrub == None) or (pf_scrub == '') or (pf_scrub == [])) %}
{% for scrub in pf_scrub %}
{% if (scrub.comment is defined) and not ((scrub.comment == None) or (scrub.comment == '')) %}
# {{scrub.comment}}
{% else %}
#
{% endif %}
{% for config in scrub.config %}
scrub {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# QUEUEING
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# TRANSLATION
#-------------------------------------------------------------------------------

# DEFAULT
{% if (pf_translation_default is defined) and not ((pf_translation_default == None) or (pf_translation_default == '') or (pf_translation_default == [])) %}
{% for translation_default in pf_translation_default %}
{% if (translation_default.comment is defined) and not ((translation_default.comment == None) or (translation_default.comment == '')) %}
# {{translation_default.comment}}
{% else %}
#
{% endif %}
{% for config in translation_default.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# CUSTOM
{% if (pf_translation_custom is defined) and not ((pf_translation_custom == None) or (pf_translation_custom == '') or (pf_translation_custom == [])) %}
{% for translation_custom in pf_translation_custom %}
{% if (translation_custom.comment is defined) and not ((translation_custom.comment == None) or (translation_custom.comment == '')) %}
# {{translation_custom.comment}}
{% else %}
#
{% endif %}
{% for config in translation_custom.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# PACKET FILTERING
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# IN
#-------------------------------------------------------------------------------

# Default in policy
{% if (pf_filter_in_policy is defined) and (pf_filter_in_policy == 'pass') %}
pass in all
{% else %}
block in all
{% endif %}

# ICMP
{% if (pf_filter_in_icmp is defined) and not ((pf_filter_in_icmp == None) or (pf_filter_in_icmp == '') or (pf_filter_in_icmp == [])) %}
{% for filter_in_icmp in pf_filter_in_icmp %}
{% if (filter_in_icmp.comment is defined) and not ((filter_in_icmp.comment == None) or (filter_in_icmp.comment == '')) %}
# {{filter_in_icmp.comment}}
{% else %}
#
{% endif %}
{% for config in filter_in_icmp.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# IP DEFAULT
{% if (pf_filter_in_ip_default is defined) and not ((pf_filter_in_ip_default == None) or (pf_filter_in_ip_default == '') or (pf_filter_in_ip_default == [])) %}
{% for filter_in_ip_default in pf_filter_in_ip_default %}
{% if (filter_in_ip_default.comment is defined) and not ((filter_in_ip_default.comment == None) or (filter_in_ip_default.comment == '')) %}
# {{filter_in_ip_default.comment}}
{% else %}
#
{% endif %}
{% for config in filter_in_ip_default.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# IP CUSTOM
{% if (pf_filter_in_ip_custom is defined) and not ((pf_filter_in_ip_custom == None) or (pf_filter_in_ip_custom == '') or (pf_filter_in_ip_custom == [])) %}
{% for filter_in_ip_custom in pf_filter_in_ip_custom %}
{% if (filter_in_ip_custom.comment is defined) and not ((filter_in_ip_custom.comment == None) or (filter_in_ip_custom.comment == '')) %}
# {{filter_in_ip_custom.comment}}
{% else %}
#
{% endif %}
{% for config in filter_in_ip_custom.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# OUT
#-------------------------------------------------------------------------------

# Default out policy
{% if (pf_filter_out_policy is defined) and (pf_filter_out_policy == 'pass') %}
pass out all
{% else %}
block out all
{% endif %}

# ICMP
{% if (pf_filter_out_icmp is defined) and not ((pf_filter_out_icmp == None) or (pf_filter_out_icmp == '') or (pf_filter_out_icmp == [])) %}
{% for filter_out_icmp in pf_filter_out_icmp %}
{% if (filter_out_icmp.comment is defined) and not ((filter_out_icmp.comment == None) or (filter_out_icmp.comment == '')) %}
# {{filter_out_icmp.comment}}
{% else %}
#
{% endif %}
{% for config in filter_out_icmp.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# IP DEFAULT
{% if (pf_filter_out_ip_default is defined) and not ((pf_filter_out_ip_default == None) or (pf_filter_out_ip_default == '') or (pf_filter_out_ip_default == [])) %}
{% for filter_out_ip_default in pf_filter_out_ip_default %}
{% if (filter_out_ip_default.comment is defined) and not ((filter_out_ip_default.comment == None) or (filter_out_ip_default.comment == '')) %}
# {{filter_out_ip_default.comment}}
{% else %}
#
{% endif %}
{% for config in filter_out_ip_default.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# IP CUSTOM
{% if (pf_filter_out_ip_custom is defined) and not ((pf_filter_out_ip_custom == None) or (pf_filter_out_ip_custom == '') or (pf_filter_out_ip_custom == [])) %}
{% for filter_out_ip_custom in pf_filter_out_ip_custom %}
{% if (filter_out_ip_custom.comment is defined) and not ((filter_out_ip_custom.comment == None) or (filter_out_ip_custom.comment == '')) %}
# {{filter_out_ip_custom.comment}}
{% else %}
#
{% endif %}
{% for config in filter_out_ip_custom.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# END
#-------------------------------------------------------------------------------
