#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : exclude.conf
# Type   : Shell script
# Role   : restic
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% for item in restic_exclude %}
{{item}}
{% endfor %}
