---

- name: 'task include install'
  import_tasks: install.yml
  when: not (bsd_grep_state is match('false|no|remove|quiesce|inactive'))
  tags:
    - main
    - bsd_grep

- name: 'task include remove'
  import_tasks: remove.yml
  when: (bsd_grep_state is match('false|no|remove'))
  tags:
    - main
    - bsd_grep
