#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#
# Name   : README
# Type   : information file
# Role   : common
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# {% filter upper %}{{(common_root_dir_name|e)}}
{% endfilter %}
#-------------------------------------------------------------------------------

This is the root directory which holds all the folders listed below.

Path: /opt/{{(common_root_dir_name|e)}}

#-------------------------------------------------------------------------------
# {% filter upper %}{{(common_backup_dir_name|e)}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any backup files such as database dumps, archives and any
other type of backups.
Please create a subdirectory per category. Do not put the files in the main
directory itself.

Path: /{{(common_backup_dir_partition|e)}}/{{(common_root_dir_name|e)}}/{{(common_backup_dir_name|e)}}/

#-------------------------------------------------------------------------------
# {% filter upper %}{{(common_info_dir_name|e)}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any information about this system such as manuals,
documentations, user guides and any other type of information.
Please create a subdirectory per category. Do not put the files in the main
directory itself.

Path: /{{(common_info_dir_partition|e)}}/{{(common_root_dir_name|e)}}/{{(common_info_dir_name|e)}}/

#-------------------------------------------------------------------------------
# {% filter upper %}{{(common_script_dir_name|e)}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any scripts such as maintenance tasks, cleanup jobs,
database tools and any other type of scripts.
Please create a subdirectory per category. Do not put the files in the main
directory itself.

Path: /{{(common_script_dir_partition|e)}}/{{(common_root_dir_name|e)}}/{{(common_script_dir_name|e)}}/

#-------------------------------------------------------------------------------
# {% filter upper %}{{(common_system_dir_name|e)}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any system related data such as ISO images, setup files,
installation logs and any other type of system files.
Please create a subdirectory per category. Do not put the files in the main
directory itself.

Path: /{{(common_system_dir_partition|e)}}/{{(common_root_dir_name|e)}}/{{(common_system_dir_name|e)}}/
