---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - disable
    - unbound

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create root.hints'
  template:
    src: "{{file_src_root_hints}}"
    dest: "{{file_dst_root_hints}}"
    mode: "{{file_mode_root_hints}}"
    owner: "{{file_owner_root_hints}}"
    group: "{{file_group_root_hints}}"
    validate: "{{file_validate_root_hints}}"
  tags:
    - disable
    - unbound

- name: 'file create unbound.conf'
  template:
    src: "{{file_src_unbound_conf}}"
    dest: "{{file_dst_unbound_conf}}"
    mode: "{{file_mode_unbound_conf}}"
    owner: "{{file_owner_unbound_conf}}"
    group: "{{file_group_unbound_conf}}"
    validate: "{{file_validate_unbound_conf}}"
  tags:
    - disable
    - unbound

- name: 'line disable unbound_enable'
  lineinfile:
    state: 'present'
    line: "{{file_line_unbound_enable}}=\"NO\" # Ansible: Disable unbound"
    regexp: "^{{file_line_unbound_enable}}="
    dest: "{{file_dst_unbound_enable}}"
    create: 'yes'
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - disable
    - unbound

#-------------------------------------------------------------------------------
# COMMANDS
#-------------------------------------------------------------------------------

- name: 'command status unbound'
  command: "{{command_cmd_status_unbound}}"
  register: register_status_unbound
  changed_when: (register_status_unbound.rc > 1)
  failed_when: (register_status_unbound.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - disable
    - unbound

- name: 'command disable unbound'
  command: "{{command_cmd_disable_unbound}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_status_unbound.rc == 0)
  tags:
    - disable
    - unbound

- name: 'command check unbound'
  command: "{{command_cmd_check_unbound}}"
  register: register_check_unbound
  changed_when: (register_check_unbound.rc > 1)
  failed_when: (register_check_unbound.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - disable
    - unbound

- name: 'command stop unbound'
  command: "{{command_cmd_stop_unbound}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_check_unbound.rc == 0)
  tags:
    - disable
    - unbound

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'service stop unbound'
  service:
    state: 'stopped'
    enabled: 'no'
    name: "{{service_name_unbound}}"
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - disable
    - unbound
