#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : hostname.if
# Type   : hostname.if configuration file
# Role   : hostname_if
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INTERFACE
#-------------------------------------------------------------------------------

{% if ((item.description is defined) and not (item.description == '')) %}description "{{item.description}}" {% endif %}
{%- if (item.comment is defined) and not (item.comment == '') %}# {{item.comment}}{% endif %}

{% for interface in item.interfaces|default([]) %}
{%- if (interface.type is defined) and (interface.type|match('pfsync')) %}
{%- if (interface.syncdev is defined) and not (interface.syncdev == '') %}syncdev {{interface.syncdev}} {% endif %}
{%- if (interface.description is defined) and not (interface.description == '') %}description "{{interface.description}}" {% endif %}
{%- if (interface.comment is defined) and not (interface.comment == '') %}# {{interface.comment}}{% endif %}

{% elif (interface.type is defined) and (interface.type|match('carp')) %}
{%- if (interface.version is defined) and (interface.version|match('ipv6|inet6')) %}inet6 {% else %}inet {% endif %}
{%- if (interface.ip is defined) and not (interface.ip == '') %}{{interface.ip}} {% endif %}
{%- if (interface.netmask is defined) and not (interface.netmask == '') %}{{interface.netmask}} {% endif %}
{%- if (interface.broadcast is defined) and not (interface.broadcast == '') %}{{interface.broadcast}} {% else %}NONE {% endif %}
{%- if (interface.vhid is defined) and not (interface.vhid == '') %}vhid {{interface.vhid}} {% endif %}
{%- if (interface.carpdev is defined) and not (interface.carpdev == '') %}carpdev {{interface.carpdev}} {% endif %}
{%- if (interface.advbase is defined) and not (interface.advbase == '') %}advbase {{interface.advbase}} {% else %} {% endif %}
{%- if (interface.advskew is defined) and not (interface.advskew == '') %}advskew {{interface.advskew}} {% else %} {% endif %}
{%- if (interface.pass is defined) and not (interface.pass == '') %}pass "{{interface.pass}}" {% endif %}
{%- if (interface.description is defined) and not (interface.description == '') %}description "{{interface.description}}" {% endif %}
{%- if (interface.comment is defined) and not (interface.comment == '') %}# {{interface.comment}}{% endif %}

{% else %}
{%- if (interface.version is defined) and (interface.version|match('ipv6|inet6')) %}inet6 {% else %}inet {% endif %}
{%- if (interface.alias is defined) and (interface.alias|match('true|yes|enable')) %}alias {% endif %}
{%- if (interface.ip is defined) and not (interface.ip == '') %}{{interface.ip}} {% endif %}
{%- if (interface.netmask is defined) and not (interface.netmask == '') %}{{interface.netmask}} {% endif %}
{%- if (interface.broadcast is defined) and not (interface.broadcast == '') %}{{interface.broadcast}} {% else %}NONE {% endif %}
{%- if (interface.vnetid is defined) and not (interface.vnetid == '') %}vnetid {{interface.vnetid}} {% endif %}
{%- if (interface.vlandev is defined) and not (interface.vlandev == '') %}vlandev {{(interface.vlandev|default(ansible_default_ipv4.device))}} {% endif %}
{%- if ((interface.description is defined) and not (interface.description == '')) and not ((interface.alias is defined) and (interface.alias|match('true|yes|enable'))) %}description "{{interface.description}}" {% endif %}
{%- if (interface.comment is defined) and not (interface.comment == '') %}# {{interface.comment}}{% endif %}

{% endif %}
{% endfor %}

{%- if (item.routes is defined) and not ((item.routes == '') or (item.routes == [])) %}
#-------------------------------------------------------------------------------
# ROUTE
#-------------------------------------------------------------------------------

{% for route in item.routes|default([]) %}
!route add -net {{route.network}}
{%- if ((route.prefix is defined) and not (route.prefix == '')) %}/{{route.prefix}} {% else %} {% endif %}
{{route.gateway}}
{%- if (route.comment is defined) and not (route.comment == '') %} # {{route.comment}}{% endif %}

{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# STATE
#-------------------------------------------------------------------------------

{% if (item.status is defined) and (item.status|match('false|no|disable|down')) %}
down
{% else %}
up
{% endif %}
