#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : README
# Type   : information file
# Role   : common
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# {% filter upper %}{{common_app_dir}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any third party applications. Please create a folder per
application. Do not put the files in the main directory itself.

Path: /{{common_app_dir}}/

#-------------------------------------------------------------------------------
# {% filter upper %}{{common_backup_dir}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any third party backup files such as database dumps,
archives and any other type of backups. Please create a folder per application.
Do not put the files in the main directory itself.

Path: /{{common_backup_dir}}/

#-------------------------------------------------------------------------------
# {% filter upper %}{{common_data_dir}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any third party application data. Please create a folder
per application. Do not put the files in the main directory itself.

Path: /{{common_data_dir}}/

#-------------------------------------------------------------------------------
# {% filter upper %}{{common_script_dir}}
{% endfilter %}
#-------------------------------------------------------------------------------

This directory holds any scripts such as maintenance tasks, cleanup jobs,
database tools and any other type of scripts. Please create a folder per
application. Do not put the files in the main directory itself.

Path: /{{common_script_dir}}/
