{{ansible_managed|comment(decoration='#')}}

{% for item in (squid_network_blocked|default([])) %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
{{item.name}}

{% endfor %}
