#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : dst_domain_allowed.acl
# Type   : Squid access control list
# Role   : squid
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% for item in (squid_domain_allowed|default([])) %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
{{item.name}}

{% endfor %}
