#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : src_network_unrestricted.acl
# Type   : Squid access control list
# Role   : squid
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% for item in (squid_network_unrestricted|default([])) %}
{% if not ((item.comment|default('')) == '') %}
# {{item.comment}}
{% endif %}
{{item.name}}

{% endfor %}
