
--------------------------------------------------------------------------------

      __    ____  __________   Hostname        : [0m[1;33m{{ansible_hostname}}[0m
     / /   / __ \/ ____/ __ \  Description     : [0m[1;33m{{motd_host_description}}[0m
    / /   / / / / / __/ / / /  Environment     : [0m[{% if not ((motd_env_color == None) or (motd_env_color == '')) %}{{motd_env_color}}{% else %}1;31m{% endif %}{{motd_env_name}}[0m
   / /___/ /_/ / /_/ / /_/ /   Operating System: [0m[{% if not ((motd_os_color == None) or (motd_os_color == '')) %}{{motd_os_color}}{% else %}0;37m{% endif %}{{ansible_distribution}} {{ansible_distribution_version}} ({{ansible_machine}})[0m
  /_____/\____/\____/\____/    Processor Count : [0m[0;31m{{ansible_processor_vcpus}}[0m
                               Memory Size     : [0;31m{{ansible_memtotal_mb}} MB[0m

--------------------------------------------------------------------------------

