#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#
#   _ _         Name   : allowed-hosts
#  | (_)_   __  Type   : denyhosts configuration file
#  | | \ \ / /  Role   : denyhosts
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% if not ((denyhosts_allowed_hosts == '') or (denyhosts_allowed_hosts == [])) %}
{% for item in denyhosts_allowed_hosts %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
