#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : allowed-hosts
#   |  _   _  |  Type   : denyhosts configuration file
#   | [_] [_] |  Role   : denyhosts
#   |____~____|
#    ___//__//   Authors: liv community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.liv.io/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

{% if (denyhosts_allowed_hosts is defined) and not ((denyhosts_allowed_hosts == None) or (denyhosts_allowed_hosts == '') or (denyhosts_allowed_hosts == [])) %}
{% for item in denyhosts_allowed_hosts %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{item.comment}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
