---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - install
    - squid

#-------------------------------------------------------------------------------
# PACKAGING
#-------------------------------------------------------------------------------

- name: 'package install squid'
  package:
    state: 'present'
    name: "{{package_name_squid}}"
  tags:
    - install
    - squid

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create acl.dir'
  file:
    state: 'directory'
    path: "{{file_dst_acl_dir}}"
    mode: "{{file_mode_acl_dir}}"
    owner: "{{file_owner_acl_dir}}"
    group: "{{file_group_acl_dir}}"
  tags:
    - install
    - squid

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'stat file monit.d'
  stat:
    path: "{{file_dst_monit_d}}"
  register: register_monit_d
  when: (squid_monitor_monit_state is match('true|yes|enable'))
  tags:
    - install
    - squid

- name: 'file create monit.d'
  file:
    state: 'directory'
    path: "{{file_dst_monit_d}}"
    mode: "{{file_mode_monit_d}}"
    owner: "{{file_owner_monit_d}}"
    group: "{{file_group_monit_d}}"
  when: (squid_monitor_monit_state is match('true|yes|enable')) and (register_monit_d.stat.exists == False)
  tags:
    - install
    - squid

#-------------------------------------------------------------------------------
# COMMANDS
#-------------------------------------------------------------------------------

- name: 'command check service monit'
  shell: "{{command_cmd_check_service_monit}}"
  register: register_check_service_monit
  changed_when: (register_check_service_monit.rc > 1)
  failed_when: (register_check_service_monit.rc > 1)
  check_mode: 'no'
  when: (squid_monitor_monit_state is match('true|yes|enable'))
  tags:
    - install
    - squid
