#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#
#   _ _         Name   : sudo-config
#  | (_)_   __  Type   : sudo configuration file
#  | | \ \ / /  Role   : sudo
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% if (item.config is defined) and not ((item.config == '') or (item.config == [])) %}
{% for config in item.config %}
# {{item.comment}}
{{config}}
{% endfor %}
{% endif %}
