#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
#   _ _         Name   : sudo-config
#  | (_)_   __  Type   : sudo configuration file
#  | | \ \ / /  Role   : sudo
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

{% if (item.config is defined) and not ((item.config == None) or (item.config == '') or (item.config == [])) %}
{% for config in item.config %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{item.comment}}
{% else %}
#
{% endif %}
{{config}}
{% endfor %}
{% endif %}
