#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : sudo-config
#   |  _   _  |  Type   : sudo configuration file
#   | [_] [_] |  Role   : sudo
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

{% if (item.config is defined) and not ((item.config == None) or (item.config == '') or (item.config == [])) %}
{% for config in item.config %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{item.comment}}
{% else %}
#
{% endif %}
{{config}}
{% endfor %}
{% endif %}
