#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : openntpd.conf
# Type   : openntpd configuration file
# Role   : openntpd
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# $OpenBSD: ntpd.conf,v 1.14 2015/07/15 20:28:37 ajacoutot Exp $
#
# See ntpd.conf(5) and /etc/examples/ntpd.conf

#-------------------------------------------------------------------------------
# LISTEN
#-------------------------------------------------------------------------------

# Addresses to listen on (ntpd does not listen by default)
#listen on *

{% if (openntpd_listen is defined) and not ((openntpd_listen == '') or (openntpd_listen == [])) %}
{% for item in openntpd_listen %}
{% if (item.comment is defined) %}
# {{item.comment}}
{% endif %}
{% for config in item.config %}
listen on {{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# SERVER
#-------------------------------------------------------------------------------

# sync to a single server
#server ntp.example.org

# use a random selection of NTP Pool Time Servers
# see http://support.ntp.org/bin/view/Servers/NTPPoolServers
#servers pool.ntp.org

{% if (openntpd_server is defined) and not ((openntpd_server == '') or (openntpd_server == [])) %}
{% for item in openntpd_server %}
{% if (item.comment is defined) %}
# {{item.comment}}
{% endif %}
{% for server in item.server %}
{% if (item.type is defined) and ((item.type == 'single') or (item.type == 'server')) %}
server {{server}} {% if (item.weight is defined) and not (item.weight == '') %}weight {{(item.weight|int(1))}}{% endif %}

{% else %}
servers {{server}} {% if (item.weight is defined) and not (item.weight == '') %}weight {{(item.weight|int(1))}}{% endif %}

{% endif %}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# SENSOR
#-------------------------------------------------------------------------------

# use a specific local timedelta sensor (radio clock, etc)
#sensor nmea0

# use all detected timedelta sensors
#sensor *

#-------------------------------------------------------------------------------
# CONSTRAINT
#-------------------------------------------------------------------------------

# get the time constraint from a well-known HTTPS site
#constraints from "https://www.google.com/search?q=openntpd"
