#!/bin/sh

#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : tinc-down
# Type   : tinc configuration file
# Role   : tinc
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# This file closes down the tap device.

ifconfig $INTERFACE down
