---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - enable
    - cron

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'line enable cron_enable'
  lineinfile:
    state: 'present'
    line: "{{file_line_cron_enable}}=\"YES\" # Ansible: Enable cron"
    regexp: "^{{file_line_cron_enable}}="
    dest: "{{file_dst_cron_enable}}"
    create: 'yes'
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - enable
    - cron

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'service start cron'
  service:
    state: 'started'
    enabled: 'yes'
    name: "{{service_name_cron}}"
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - enable
    - cron
