---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - remove
    - cron

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'line remove cron_enable'
  lineinfile:
    state: 'absent'
    line: "{{file_line_cron_enable}}=\"NO\" # Ansible: Remove cron"
    regexp: "^{{file_line_cron_enable}}="
    dest: "{{file_dst_cron_enable}}"
    create: 'yes'
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - remove
    - cron
