#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : smtpd.conf
#   |  _   _  |  Type   : opensmtpd configuration file
#   | [_] [_] |  Role   : opensmtpd
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

# This is the smtpd server system-wide configuration file.
# See smtpd.conf(5) for more information.

#-------------------------------------------------------------------------------
# LISTEN
#-------------------------------------------------------------------------------

# DEFAULT
{% if (opensmtpd_listen_default is defined) and not ((opensmtpd_listen_default == None) or (opensmtpd_listen_default == '') or (opensmtpd_listen_default == [])) %}
{% for item in opensmtpd_listen_default %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# CUSTOM
{% if (opensmtpd_listen_custom is defined) and not ((opensmtpd_listen_custom == None) or (opensmtpd_listen_custom == '') or (opensmtpd_listen_custom == [])) %}
{% for item in opensmtpd_listen_custom %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TABLE
#-------------------------------------------------------------------------------

# DEFAULT
{% if (opensmtpd_table_default is defined) and not ((opensmtpd_table_default == None) or (opensmtpd_table_default == '') or (opensmtpd_table_default == [])) %}
{% for item in opensmtpd_table_default %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# CUSTOM
{% if (opensmtpd_table_custom is defined) and not ((opensmtpd_table_custom == None) or (opensmtpd_table_custom == '') or (opensmtpd_table_custom == [])) %}
{% for item in opensmtpd_table_custom %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# ACCEPT
#-------------------------------------------------------------------------------

# DEFAULT
{% if (opensmtpd_accept_default is defined) and not ((opensmtpd_accept_default == None) or (opensmtpd_accept_default == '') or (opensmtpd_accept_default == [])) %}
{% for item in opensmtpd_accept_default %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# CUSTOM
{% if (opensmtpd_accept_custom is defined) and not ((opensmtpd_accept_custom == None) or (opensmtpd_accept_custom == '') or (opensmtpd_accept_custom == [])) %}
{% for item in opensmtpd_accept_custom %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
