#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : allowed-hosts
#   |  _   _  |  Type   : denyhosts configuration file
#   | [_] [_] |  Role   : denyhosts
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

# We mustn't block localhost
{% if (denyhosts_allowed_hosts is defined) and not ((denyhosts_allowed_hosts == None) or (denyhosts_allowed_hosts == '') or (denyhosts_allowed_hosts == [])) %}
{% for allowed_hosts in denyhosts_allowed_hosts %}
{{allowed_hosts}}
{% endfor %}
{% endif %}
