#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : allowed-hosts
# Type   : denyhosts configuration file
# Role   : denyhosts
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% for item in denyhosts_allowed_hosts %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
