#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#
#   _ _         Name   : resolv.conf
#  | (_)_   __  Type   : resolver configuration file
#  | | \ \ / /  Role   : resolver
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# Local domain name
{% if not (resolver_domain == '') %}
domain {{(resolver_domain|e)}}
{% endif %}

# Search list for host-name lookup
{% if not ((resolver_search == '') or (resolver_search == [])) %}
search {% for search in resolver_search %}{{(search|e)}}{% if not loop.last %} {% endif %}{% endfor %}

{% endif %}

# Name server IP address
{% if not ((resolver_nameserver == '') or (resolver_nameserver == [])) %}
{% for nameserver in resolver_nameserver %}
nameserver {{(nameserver|e)}}
{% endfor %}
{% endif %}
