#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : options.conf
# Type   : pf configuration file
# Role   : openbsd_pf
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# OPTIONS
#-------------------------------------------------------------------------------

# Block policy (block, drop, return)
{% if (openbsd_pf_options_block_policy|match('return')) %}
set block-policy return
{% elif (openbsd_pf_options_block_policy|match('block')) %}
{% else %}
set block-policy drop
{% endif %}

# Debugging level (emerg, alert, crit, err, warning, notice, info, debug)
{% if (openbsd_pf_options_debug|match('emerg')) %}
set debug emerg
{% elif (openbsd_pf_options_debug|match('alert')) %}
set debug alert
{% elif (openbsd_pf_options_debug|match('crit')) %}
set debug crit
{% elif (openbsd_pf_options_debug|match('err')) %}
set debug err
{% elif (openbsd_pf_options_debug|match('warning')) %}
set debug warning
{% elif (openbsd_pf_options_debug|match('notice')) %}
set debug notice
{% elif (openbsd_pf_options_debug|match('info')) %}
set debug info
{% else %}
set debug debug
{% endif %}

# Operating system fingerprints
set fingerprints '{{openbsd_pf_options_fingerprints}}'

# Host ID
{% if not (openbsd_pf_options_hostid|match('false|no|disable|none')) %}
set hostid {{openbsd_pf_options_hostid}}
{% endif %}

# Limits
{% for limit in openbsd_pf_options_limit|default([]) %}
{% if (limit.comment is defined) and not (limit.comment == '') %}
# {{limit.comment}}
{% endif %}
set limit {% if (limit.name is defined) and not (limit.name == '') %}{{limit.name}} {% endif %}
{% if (limit.value is defined) and not (limit.value == '') %}{{limit.value}}{% endif %}

{% endfor %}

# Log interface (none, <interface>)
{% if not (openbsd_pf_options_loginterface|match('false|no|disable|none')) %}
set loginterface {{openbsd_pf_options_loginterface}}
{% else %}
set loginterface none
{% endif %}

# Optimization (normal, high-latency, satellite, aggressive, conservative)
{% if (openbsd_pf_options_optimization|match('high-latency')) %}
set optimization high-latency
{% elif (openbsd_pf_options_optimization|match('satellite')) %}
set optimization satellite
{% elif (openbsd_pf_options_optimization|match('aggressive')) %}
set optimization aggressive
{% elif (openbsd_pf_options_optimization|match('conservative')) %}
set optimization conservative
{% else %}
set optimization normal
{% endif %}

# Reassemble
{% if (openbsd_pf_options_reassemble|match('false|no|disable')) %}
set loginterface no
{% else %}
set reassemble yes
{% endif %}

# Ruleset optimization (none, basic, profile)
{% if (openbsd_pf_options_ruleset_optimization|match('basic')) %}
set ruleset-optimization basic
{% elif (openbsd_pf_options_ruleset_optimization|match('profile')) %}
set ruleset-optimization profile
{% else %}
set ruleset-optimization none
{% endif %}

# Skip
{% if not ((openbsd_pf_options_skip == '') or (openbsd_pf_options_skip == [])) %}
set skip on {% for option_skip in openbsd_pf_options_skip %}{{option_skip}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

# State defaults
{% if not ((openbsd_pf_options_state_defaults == '') or (openbsd_pf_options_state_defaults == [])) %}
set state-defaults {% for state_groups in openbsd_pf_options_state_defaults %}{{state_groups}}{% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

# State policy (if-bound, floating)
{% if (openbsd_pf_options_state_policy|match('floating')) %}
set state-policy floating
{% else %}
set state-policy if-bound
{% endif %}

# Timeouts
{% for timeout in openbsd_pf_options_timeout|default([]) %}
{% if (timeout.comment is defined) and not (timeout.comment == '') %}
# {{timeout.comment}}
{% endif %}
set timeout {% if (timeout.name is defined) and not (timeout.name == '') %}{{timeout.name}} {% endif %}
{% if (timeout.value is defined) and not (timeout.value == '') %}{{timeout.value}}{% endif %}

{% endfor %}
