#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : pf.conf
# Type   : pf configuration file
# Role   : openbsd_pf
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#	$OpenBSD: pf.conf,v 1.54 2014/08/23 05:49:42 deraadt Exp $
#
# See pf.conf(5) and /etc/examples/pf.conf

#-------------------------------------------------------------------------------
# INCLUDES
#-------------------------------------------------------------------------------

# OPTIONS
include '/etc/pf/options.conf'

# NORMALIZATION
include '/etc/pf/normalization.conf'

# ANCHORS
include '/etc/pf/anchors.conf'

# FILTERS
include '/etc/pf/filters.conf'
