---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - disable
    - node_exporter

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'line config node_exporter_flags'
  lineinfile:
    state: 'present'
    line: "{{file_line_node_exporter_flags}}"
    regexp: "^{{file_regexp_node_exporter_flags}}=.*"
    dest: "{{file_dest_node_exporter_flags}}"
    create: 'yes'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - disable
    - node_exporter

#-------------------------------------------------------------------------------
# COMMANDS
#-------------------------------------------------------------------------------

- name: 'command status node_exporter'
  command: "{{command_cmd_status_node_exporter}}"
  register: register_status_node_exporter
  changed_when: (register_status_node_exporter.rc > 1)
  failed_when: (register_status_node_exporter.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - disable
    - node_exporter

- name: 'command disable node_exporter'
  command: "{{command_cmd_disable_node_exporter}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_status_node_exporter.rc == 0)
  tags:
    - disable
    - node_exporter

- name: 'command check node_exporter'
  command: "{{command_cmd_check_node_exporter}}"
  register: register_check_node_exporter
  changed_when: (register_check_node_exporter.rc > 1)
  failed_when: (register_check_node_exporter.rc > 1)
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD')
  tags:
    - disable
    - node_exporter

- name: 'command stop node_exporter'
  command: "{{command_cmd_stop_node_exporter}}"
  check_mode: 'no'
  when: (ansible_os_family == 'OpenBSD') and (register_check_node_exporter.rc == 0)
  tags:
    - disable
    - node_exporter

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'service stop node_exporter'
  service:
    state: 'stopped'
    enabled: 'no'
    name: "{{service_name_node_exporter}}"
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - disable
    - node_exporter
