---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
      - "vars/{{ansible_os_family}}.yml"
      - 'vars/main.yml'
      errors: 'ignore'
  tags:
    - config
    - group

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'group config group'
  group:
    state: "{{'absent' if (item.state|default('true') is match('false|no|remove')) else 'present'}}"
    name: "{{item.name}}"
    gid: "{{(item.gid|default(omit))}}"
    system: "{{'yes' if (item.system|default('false') is match('true|yes|enable')) else 'no'}}"
  with_items: "{{group_config_all + group_config_group + group_config_host}}"
  tags:
    - config
    - group
