#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : freebsd.info
#   |  _   _  |  Type   : information file
#   | [_] [_] |  Role   : sysinfo
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: GNU General Public License version 2 (GPLv2)
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file holds information on how to patch a Gentoo system.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# KERNEL UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SYSTEM UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# WORLD UPDATE
#-------------------------------------------------------------------------------
