---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
      - "vars/{{ansible_os_family}}.yml"
      - 'vars/main.yml'
      skip: 'true'
  tags:
    - install
    - tmux

#-------------------------------------------------------------------------------
# PACKAGING
#-------------------------------------------------------------------------------

- name: 'package install tmux'
  package:
    state: 'present'
    name: "{{package_name_tmux}}"
  when: (ansible_os_family == 'FreeBSD')
  tags:
    - install
    - tmux

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'template create tmux.conf'
  template:
    src: "{{file_src_tmux_conf}}"
    dest: "{{file_path_tmux_conf}}"
    mode: "{{file_mode_tmux_conf}}"
    owner: "{{file_owner_tmux_conf}}"
    group: "{{file_group_tmux_conf}}"
  tags:
    - install
    - tmux
