#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : profile
#   |  _   _  |  Type   : Shell configuration file
#   | [_] [_] |  Role   : shell
#   |____~____|
#    ___//__//   Authors: liv community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.liv.io/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

# System-wide .profile file for sh(1).

# Source general Shell environment variables
for shell in /etc/profile.d/*.sh ; do
  [ -r "$shell" ] && . "$shell"
done

# Source Bash specific environment variables
if [ "$SHELL" = "/usr/local/bin/bash" ]; then
  for bash in /etc/profile.d/*.bash ; do
    [ -r "$bash" ] && . "$bash"
  done
fi
