#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : z_shell.sh
# Type   : environment variable configuration file
# Role   : shell
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SHELL ALIASES
#-------------------------------------------------------------------------------

# cls
alias cls='printf "\033c"'

# ls
alias ls='colorls -GF'
alias la='ls -laFT' # long listing, list all files
alias ll='ls -lFT'  # long listing
alias lr='ls -lRFT' # long listing, list subdirectories recursively
alias lt='ls -ltFT' # long listing, sort by modification time

{% if not (shell_safety|match('false|no|disable')) %}
# Shell safety
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
{% endif %}

#-------------------------------------------------------------------------------
# SHELL VARIABLES
#-------------------------------------------------------------------------------

{% if not (shell_ftp_proxy|match('false|no|disable')) %}
# ftp_proxy
ftp_proxy='{{shell_ftp_proxy}}'
export ftp_proxy
{% endif %}

{% if not (shell_http_proxy|match('false|no|disable')) %}
# http_proxy
http_proxy='{{shell_http_proxy}}'
export http_proxy
{% endif %}

{% if not (shell_histsize|match('false|no|disable')) %}
# HISTSIZE
HISTSIZE={{(shell_histsize|int)}}
export HISTSIZE
{% endif %}

{% if not (shell_pager|match('false|no|disable')) %}
# PAGER
PAGER='{{shell_pager}}'
export PAGER
{% endif %}
