#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : z_shell.sh
#   |  _   _  |  Type   : environment variable configuration file
#   | [_] [_] |  Role   : shell
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file defines environment variables for Shell.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SHELL ALIASES
#-------------------------------------------------------------------------------

# ls
alias ls='ls -F'
alias la='ls -laFT' # long listing, list all files
alias ll='ls -lFT'  # long listing
alias lr='ls -lRFT' # long listing, list subdirectories recursively
alias lt='ls -ltFT' # long listing, sort by modification time

{% if (shell_safety is defined) and not ((shell_safety == None) or (shell_safety == 'false') or (shell_safety == 'no') or (shell_safety == 'disable')) %}
# Shell safety
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
{% endif %}

#-------------------------------------------------------------------------------
# SHELL VARIABLES
#-------------------------------------------------------------------------------

{% if (shell_histsize is defined) and not ((shell_histsize == None) or (shell_histsize == '') or (shell_histsize == 'false') or (shell_histsize == 'no') or (shell_histsize == 'disable')) %}
# HISTSIZE
HISTSIZE={{(shell_histsize|e)}}
export HISTSIZE
{% endif %}

{% if (shell_pager is defined) and not ((shell_pager == None) or (shell_pager == '') or (shell_pager == 'false') or (shell_pager == 'no') or (shell_pager == 'disable')) %}
# PAGER
PAGER='{{(shell_pager|e)}}'
export PAGER
{% endif %}
