#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : z_shell.sh
#   |  _   _  |  Type   : environment variable configuration file
#   | [_] [_] |  Role   : shell
#   |____~____|
#    ___//__//   Authors: liv community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.liv.io/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file defines environment variables for Shell.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SHELL ALIASES
#-------------------------------------------------------------------------------

# cls
alias cls='printf "\033c"'

# ls
alias ls='colorls -GF'
alias la='ls -laFT' # long listing, list all files
alias ll='ls -lFT'  # long listing
alias lr='ls -lRFT' # long listing, list subdirectories recursively
alias lt='ls -ltFT' # long listing, sort by modification time

{% if (shell_safety is defined) and not ((shell_safety == None) or (shell_safety == 'false') or (shell_safety == 'no') or (shell_safety == 'disable')) %}
# Shell safety
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
{% endif %}

#-------------------------------------------------------------------------------
# SHELL VARIABLES
#-------------------------------------------------------------------------------

{% if (shell_ftp_proxy is defined) and not ((shell_ftp_proxy == None) or (shell_ftp_proxy == '')) %}
# ftp_proxy
ftp_proxy='{{shell_ftp_proxy}}'
export ftp_proxy
{% endif %}

{% if (shell_http_proxy is defined) and not ((shell_http_proxy == None) or (shell_http_proxy == '')) %}
# http_proxy
http_proxy='{{shell_http_proxy}}'
export http_proxy
{% endif %}

{% if (shell_histsize is defined) and not ((shell_histsize == None) or (shell_histsize == '')) %}
# HISTSIZE
HISTSIZE={{(shell_histsize|e)}}
export HISTSIZE
{% endif %}

{% if (shell_pager is defined) and not ((shell_pager == None) or (shell_pager == '')) %}
# PAGER
PAGER='{{(shell_pager|e)}}'
export PAGER
{% endif %}
