#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
#   _ _         Name   : installurl
#  | (_)_   __  Type   : syspatch configuration file
#  | | \ \ / /  Role   : openbsd_syspatch
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INSTALLURL
#-------------------------------------------------------------------------------

{% if (openbsd_syspatch_installurl is defined) and not ((openbsd_syspatch_installurl == None) or (openbsd_syspatch_installurl == '') or (openbsd_syspatch_installurl == [])) %}
{% for item in openbsd_syspatch_installurl %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{item.comment}}
{% else %}
#
{% endif %}
{% for url in (item.url) %}
{{url}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
