#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : ansible.info
# Type   : information file
# Role   : systeminfo
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# PLAYBOOKS
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# ROLES
#-------------------------------------------------------------------------------
