#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : openbsd.info
# Type   : information file
# Role   : systeminfo
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# KERNEL UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SYSTEM UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# WORLD UPDATE
#-------------------------------------------------------------------------------
