#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
#   _ _         Name   : openbsd.info
#  | (_)_   __  Type   : information file
#  | | \ \ / /  Role   : systeminfo
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file holds information on how to patch a OpenBSD system.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# KERNEL UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SYSTEM UPDATE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# WORLD UPDATE
#-------------------------------------------------------------------------------
