#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
#   _ _         Name   : operation.info
#  | (_)_   __  Type   : information file
#  | | \ \ / /  Role   : systeminfo
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file holds information on how to operate this system.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# GENERAL
#-------------------------------------------------------------------------------

# General information about this system:
{{systeminfo_general|wordwrap(width=80)}}

#-------------------------------------------------------------------------------
# SERVICES
#-------------------------------------------------------------------------------

# The following services are installed and running on this system:
{% if (systeminfo_services is defined) and not ((systeminfo_services == None) or (systeminfo_services == '') or (systeminfo_services == [])) %}
{% for operation_services in systeminfo_services %}
 - {{operation_services}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# ADMINISTRATION
#-------------------------------------------------------------------------------

# Be aware of the following facts when administrating this system:
{% if (systeminfo_administration is defined) and not ((systeminfo_administration == None) or (systeminfo_administration == '') or (systeminfo_administration == [])) %}
{% for operation_administration in systeminfo_administration %}
{{operation_administration}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# PATCHING
#-------------------------------------------------------------------------------

# Stick to the following procedure to patch this system:
{% if (systeminfo_patching is defined) and not ((systeminfo_patching == None) or (systeminfo_patching == '') or (systeminfo_patching == [])) %}
{% for operation_patching in systeminfo_patching %}
{{operation_patching}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# OTHER
#-------------------------------------------------------------------------------

# Additional information about this system:
{% if (systeminfo_other is defined) and not ((systeminfo_other == None) or (systeminfo_other == '') or (systeminfo_other == [])) %}
{% for operation_other in systeminfo_other %}
{{operation_other}}
{% endfor %}
{% endif %}
