#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : system.info
# Type   : information file
# Role   : systeminfo
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

{% if (ansible_hostname is defined) %}
Hostname: {{ansible_hostname}}
{% endif %}
{% if (ansible_fqdn is defined) %}
FQDN    : {{ansible_fqdn}}
{% endif %}

#-------------------------------------------------------------------------------
# OPERATING SYSTEM
#-------------------------------------------------------------------------------

{% if (ansible_system is defined) %}
Type        : {{ansible_system}}
{% endif %}
{% if (ansible_os_family is defined) %}
Family      : {{ansible_os_family}}
{% endif %}
{% if (ansible_distribution is defined) %}
Distribution: {{ansible_distribution}}
{% endif %}
{% if (ansible_distribution_release is defined) %}
Version     : {{ansible_distribution_release}}
{% endif %}
{% if (ansible_architecture is defined) %}
Architecture: {{ansible_architecture}}
{% endif %}

#-------------------------------------------------------------------------------
# KERNEL
#-------------------------------------------------------------------------------

{% if (ansible_system is defined) %}
Type   : {{ansible_system}}
{% endif %}
{% if (ansible_kernel is defined) %}
Version: {{ansible_kernel}}
{% endif %}

#-------------------------------------------------------------------------------
# USERLAND
#-------------------------------------------------------------------------------

Type          : {{systeminfo_userland_type}}
{% if (ansible_userspace_architecture is defined) %}
Achitecture   : {{ansible_userspace_architecture}}
{% endif %}
{% if (ansible_python_version is defined) %}
Python Version: {{ansible_python_version}}
{% endif %}

#-------------------------------------------------------------------------------
# NETWORK
#-------------------------------------------------------------------------------

{% if (ansible_default_ipv4.interface is defined) %}
IPv4 Interface: {{ansible_default_ipv4.interface}}
{% endif %}
{% if (ansible_default_ipv4.address is defined) %}
IPv4 Address  : {{ansible_default_ipv4.address}}
{% endif %}
{% if (ansible_default_ipv4.netmask is defined) %}
IPv4 Netmask  : {{ansible_default_ipv4.netmask}}
{% endif %}
{% if (ansible_default_ipv4.network is defined) %}
IPv4 Network  : {{ansible_default_ipv4.network}}
{% endif %}
{% if (ansible_default_ipv4.gateway is defined) %}
IPv4 Gateway  : {{ansible_default_ipv4.gateway}}
{% endif %}

#-------------------------------------------------------------------------------
# HARDWARE
#-------------------------------------------------------------------------------

{% if (ansible_system_vendor is defined) %}
Hardware Vendor: {{ansible_system_vendor}}
{% endif %}
{% if (ansible_processor_count is defined) %}
Processor Count: {{ansible_processor_count}}
{% endif %}
{% if (ansible_processor_cores is defined) %}
Processor Cores: {{ansible_processor_cores}}
{% endif %}
{% if (ansible_memtotal_mb is defined) %}
Memory Size    : {{ansible_memtotal_mb}} MB
{% endif %}
