#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#       o
#   ____|____
#  |         |   Name   : ntp_update-time.cron
#  |  _   _  |   Type   : cronjob
#  | [_] [_] |   Role   : ntp
#  |____~____|
#     ___\\__    Authors: robomon community
#  \\/|     |\   License: GNU General Public License version 2 (GPLv2)
#   \/|_____|\\
#     _|| ||_//  Webpage: http://www.robomon.org/
#    (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This cronjob updates system time and hardware clock (RTC) on a regular basis.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# SHELL VARIABLES
#-------------------------------------------------------------------------------

SHELL='/bin/bash'
PATH='/sbin:/bin:/usr/sbin:/usr/bin'
MAILTO='{{file_owner_ntp_update_time_bash}}'

#-------------------------------------------------------------------------------
# CRONJOB
#-------------------------------------------------------------------------------

*/10 * * * * {{file_owner_ntp_update_time_bash}} {{file_path_ntp_update_time_bash}}
