---

- name: import tasks install
  import_tasks: install.yml
  when: not (arping_state is match('false|no|remove|quiesce|inactive'))
  tags:
    - arping

- name: import tasks remove
  import_tasks: remove.yml
  when: (arping_state is match('false|no|remove'))
  tags:
    - arping
