#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : smtpd.conf
# Type   : opensmtpd configuration file
# Role   : opensmtpd
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

# This is the smtpd server system-wide configuration file.
# See smtpd.conf(5) for more information.

#-------------------------------------------------------------------------------
# LISTEN
#-------------------------------------------------------------------------------

# ALL
{% if not ((opensmtpd_listen_all == '') or (opensmtpd_listen_all == [])) %}
{% for item in opensmtpd_listen_all %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((opensmtpd_listen_group == '') or (opensmtpd_listen_group == [])) %}
{% for item in opensmtpd_listen_group %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((opensmtpd_listen_host == '') or (opensmtpd_listen_host == [])) %}
{% for item in opensmtpd_listen_host %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TABLE
#-------------------------------------------------------------------------------

# ALL
{% if not ((opensmtpd_table_all == '') or (opensmtpd_table_all == [])) %}
{% for item in opensmtpd_table_all %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((opensmtpd_table_group == '') or (opensmtpd_table_group == [])) %}
{% for item in opensmtpd_table_group %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((opensmtpd_table_host == '') or (opensmtpd_table_host == [])) %}
{% for item in opensmtpd_table_host %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# ACCEPT
#-------------------------------------------------------------------------------

# ALL
{% if not ((opensmtpd_accept_all == '') or (opensmtpd_accept_all == [])) %}
{% for item in opensmtpd_accept_all %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if not ((opensmtpd_accept_group == '') or (opensmtpd_accept_group == [])) %}
{% for item in opensmtpd_accept_group %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if not ((opensmtpd_accept_host == '') or (opensmtpd_accept_host == [])) %}
{% for item in opensmtpd_accept_host %}
# {{item.comment}}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
