#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : smtpd.conf
#   |  _   _  |  Type   : opensmtpd configuration file
#   | [_] [_] |  Role   : opensmtpd
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

# This is the smtpd server system-wide configuration file.
# See smtpd.conf(5) for more information.

#-------------------------------------------------------------------------------
# LISTEN
#-------------------------------------------------------------------------------

# ALL
{% if (opensmtpd_listen_all is defined) and not ((opensmtpd_listen_all == None) or (opensmtpd_listen_all == '') or (opensmtpd_listen_all == [])) %}
{% for item in opensmtpd_listen_all %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (opensmtpd_listen_group is defined) and not ((opensmtpd_listen_group == None) or (opensmtpd_listen_group == '') or (opensmtpd_listen_group == [])) %}
{% for item in opensmtpd_listen_group %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (opensmtpd_listen_host is defined) and not ((opensmtpd_listen_host == None) or (opensmtpd_listen_host == '') or (opensmtpd_listen_host == [])) %}
{% for item in opensmtpd_listen_host %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# TABLE
#-------------------------------------------------------------------------------

# ALL
{% if (opensmtpd_table_all is defined) and not ((opensmtpd_table_all == None) or (opensmtpd_table_all == '') or (opensmtpd_table_all == [])) %}
{% for item in opensmtpd_table_all %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (opensmtpd_table_group is defined) and not ((opensmtpd_table_group == None) or (opensmtpd_table_group == '') or (opensmtpd_table_group == [])) %}
{% for item in opensmtpd_table_group %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (opensmtpd_table_host is defined) and not ((opensmtpd_table_host == None) or (opensmtpd_table_host == '') or (opensmtpd_table_host == [])) %}
{% for item in opensmtpd_table_host %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

#-------------------------------------------------------------------------------
# ACCEPT
#-------------------------------------------------------------------------------

# ALL
{% if (opensmtpd_accept_all is defined) and not ((opensmtpd_accept_all == None) or (opensmtpd_accept_all == '') or (opensmtpd_accept_all == [])) %}
{% for item in opensmtpd_accept_all %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# GROUP
{% if (opensmtpd_accept_group is defined) and not ((opensmtpd_accept_group == None) or (opensmtpd_accept_group == '') or (opensmtpd_accept_group == [])) %}
{% for item in opensmtpd_accept_group %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}

# HOST
{% if (opensmtpd_accept_host is defined) and not ((opensmtpd_accept_host == None) or (opensmtpd_accept_host == '') or (opensmtpd_accept_host == [])) %}
{% for item in opensmtpd_accept_host %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
