#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : config
# Type   : sudo configuration file
# Role   : sudo
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

{% if not ((item.name|default('')) == '') %}
#-------------------------------------------------------------------------------
# {{(item.name|upper)}}
#-------------------------------------------------------------------------------

{% endif %}
{% if not ((item.config|default([])) == []) %}
{% if (item.comment|default('')) %}
# {{item.comment}}
{% endif %}
{% for config in item.config %}
{{config}}
{% endfor %}
{% endif %}
