;-------------------------------------------------------------------------------
;                             ANSIBLE MANAGED FILE
;-------------------------------------------------------------------------------

;-------------------------------------------------------------------------------
; INFORMATION
;-------------------------------------------------------------------------------
;
; Name   : zone-config.zone
; Type   : BIND zone file
; Role   : nsd
;
; Authors: liv community
; License: Simplified BSD License
;
;-------------------------------------------------------------------------------

$TTL            {{item.ttl|default('1d')}}        ; default TTL
$ORIGIN         {{item.name}}.        ; base domain name

;-------------------------------------------------------------------------------

; Start Of Authority (SOA)
@               IN          SOA             {{item.soa_mname}}. {{item.soa_rname}}. (
                                            {{item.soa_serial}}          ; serial
                                            {{item.soa_refresh|default('2h')}}                ; refresh
                                            {{item.soa_retry|default('15m')}}                ; retry
                                            {{item.soa_expire|default('1w')}}              ; expire
                                            {{item.soa_ttl|default('30m')}}                 ; minimum
                                            )

;-------------------------------------------------------------------------------

{% for record in item.records|default([]) %}
{% if (record.comment is defined) and not (record.comment == '') %}
# {{record.comment}}
{% endif %}
{{record.name}}        IN
{%- if (record.type is defined) and (record.type is match('CNAME|cname')) %}        CNAME
{%- elif (record.type is defined) and (record.type is match('AAAA|aaaa')) %}        AAAA
{%- elif (record.type is defined) and (record.type is match('MX|mx')) %}        MX
{%- elif (record.type is defined) and (record.type is match('NS|ns')) %}        NS
{%- elif (record.type is defined) and (record.type is match('PTR|ptr')) %}        PTR
{%- elif (record.type is defined) and (record.type is match('SRV|srv')) %}        SRV
{%- elif (record.type is defined) and (record.type is match('TXT|txt')) %}        TXT
{%- else %}        A{% endif %}
{%- if (record.priority is defined) and not (record.priority == '') %}   {{record.priority}}{% endif %}
        {{record.value}}

{% endfor %}
