{{ansible_managed|comment(decoration='#')}}

#-------------------------------------------------------------------------------
# QUEUES
#-------------------------------------------------------------------------------
