#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : package.use
#   |  _   _  |  Type   : portage configuration file
#   | [_] [_] |  Role   : portage
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

{% if (portage_package_use is defined) and not ((portage_package_use == None) or (portage_package_use == '') or (portage_package_use == [])) %}
{% for item in (portage_package_use|sort) %}
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
{% for config in (item.config|sort) %}
{{config}}
{% endfor %}
{% endfor %}
{% else %}
{% endif %}
