#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : package.use
#   |  _   _  |  Type   : portage configuration file
#   | [_] [_] |  Role   : portage
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: GNU General Public License version 2 (GPLv2)
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
#
#
#-------------------------------------------------------------------------------

{% if not ((portage_package_use == None) or (portage_package_use == '') or (portage_package_use == []) or (portage_package_use == 'false') or (portage_package_use == 'no') or (portage_package_use == 'disable')) %}
{% for package_accept_keywords in portage_package_use %}
{{package_accept_keywords}}
{% endfor %}
{% endif %}
