#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : portage-config
#   |  _   _  |  Type   : portage configuration file
#   | [_] [_] |  Role   : portage
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
{% if (item.comment is defined) and not ((item.comment == None) or (item.comment == '')) %}
# {{(item.comment|e)}}
{% else %}
#
{% endif %}
#
#-------------------------------------------------------------------------------

[DEFAULT]
main-repo = gentoo

{% if (item.name is defined) and not ((item.name == None) or (item.name == '')) %}
[{{item.name}}]
{% else %}
[]
{% endif %}
{% if (item.location is defined) and not ((item.location == None) or (item.location == '')) %}
location = {{item.location}}
{% else %}
location = /usr/portage
{% endif %}
{% if (item.sync_type is defined) and not ((item.sync_type == None) or (item.sync_type == '')) %}
sync-type = {{item.sync_type}}
{% else %}
sync-type =
{% endif %}
{% if (item.sync_uri is defined) and not ((item.sync_uri == None) or (item.sync_uri == '')) %}
sync-uri = {{item.sync_uri}}
{% else %}
sync-uri =
{% endif %}
{% if (item.auto_sync is defined) and ((item.auto_sync == 'false') or (item.auto_sync == 'no') or (item.auto_sync == 'disable')) %}
auto-sync = no
{% else %}
auto-sync = yes
{% endif %}
