#-------------------------------------------------------------------------------
#
#   _ _         Name   : hosts.block
#  | (_)_   __  Type   : hosts configuration file
#  | | \ \ / /  Role   : denyhosts
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------

