#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
#
#   _ _         Name   : hosts.allow
#  | (_)_   __  Type   : hosts configuration file
#  | | \ \ / /  Role   : denyhosts
#  | | |\ V /
#  |_|_| \_/    Authors: liv community
#               License: Simplified BSD License
#
#-------------------------------------------------------------------------------

#
# hosts.allow access control file for "tcp wrapped" applications.
# $FreeBSD: releng/11.0/etc/hosts.allow 276163 2014-12-24 01:50:44Z smh $
#
# NOTE: The hosts.deny file is deprecated.
#       Place both 'allow' and 'deny' rules in the hosts.allow file.
#       See hosts_options(5) for the format of this file.
#       hosts_access(5) no longer fully applies.
#

{% if (denyhosts_block_service|match('all|any')) %}
ALL : /etc/hosts.block : deny
ALL : ALL : allow
{% else %}
sshd : /etc/hosts.block : deny
sshd : ALL : allow
{% endif %}
