#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : ip6tables
#   |  _   _  |  Type   : iptables configuration file
#   | [_] [_] |  Role   : iptables
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file defines ip6tables rules.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# FILTER
#-------------------------------------------------------------------------------

*filter

# Set the default policy and zero the packet and byte counters
:INPUT {% if (iptables_filter_input_v6_policy is defined) and ((iptables_filter_input_v6_policy == 'accept') or (iptables_filter_input_v6_policy == 'ACCEPT')) %}ACCEPT{% else %}DROP{% endif %} [0:0]
:FORWARD {% if (iptables_filter_forward_v6_policy is defined) and ((iptables_filter_forward_v6_policy == 'drop') or (iptables_filter_forward_v6_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]
:OUTPUT {% if (iptables_filter_output_v6_policy is defined) and ((iptables_filter_output_v6_policy == 'drop') or (iptables_filter_output_v6_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]

#-------------------------------------------------------------------------------
# INPUT
#-------------------------------------------------------------------------------

# Established and related connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "Incoming established and related connections"
-A INPUT -i lo -j ACCEPT -m comment --comment "Incoming loopback connections"

# ICMP rules
{% if (iptables_filter_input_v6_icmp is defined) and not ((iptables_filter_input_v6_icmp == None) or (iptables_filter_input_v6_icmp == '') or (iptables_filter_input_v6_icmp == [])) %}
{% for filter_input_v6_icmp in iptables_filter_input_v6_icmp %}
{{filter_input_v6_icmp}}
{% endfor %}
{% endif %}

# 'group_vars' rules
{% if (iptables_filter_input_v6_group_vars is defined) and not ((iptables_filter_input_v6_group_vars == None) or (iptables_filter_input_v6_group_vars == '') or (iptables_filter_input_v6_group_vars == [])) %}
{% for filter_input_v6_group_vars in iptables_filter_input_v6_group_vars %}
{{filter_input_v6_group_vars}}
{% endfor %}
{% endif %}

# 'host_vars' rules
{% if (iptables_filter_input_v6_host_vars is defined) and not ((iptables_filter_input_v6_host_vars == None) or (iptables_filter_input_v6_host_vars == '') or (iptables_filter_input_v6_host_vars == [])) %}
{% for filter_input_v6_host_vars in iptables_filter_input_v6_host_vars %}
{{filter_input_v6_host_vars}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# FORWARD
#-------------------------------------------------------------------------------

# Established and related connections
-A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "established and related connections"

# ICMP rules
{% if (iptables_filter_forward_v6_icmp is defined) and not ((iptables_filter_forward_v6_icmp == None) or (iptables_filter_forward_v6_icmp == '') or (iptables_filter_forward_v6_icmp == [])) %}
{% for filter_forward_v6_icmp in iptables_filter_forward_v6_icmp %}
{{filter_forward_v6_icmp}}
{% endfor %}
{% endif %}

# 'group_vars' rules
{% if (iptables_filter_forward_v6_group_vars is defined) and not ((iptables_filter_forward_v6_group_vars == None) or (iptables_filter_forward_v6_group_vars == '') or (iptables_filter_forward_v6_group_vars == [])) %}
{% for filter_forward_v6_group_vars in iptables_filter_forward_v6_group_vars %}
{{filter_forward_v6_group_vars}}
{% endfor %}
{% endif %}

# 'host_vars' rules
{% if (iptables_filter_forward_v6_host_vars is defined) and not ((iptables_filter_forward_v6_host_vars == None) or (iptables_filter_forward_v6_host_vars == '') or (iptables_filter_forward_v6_host_vars == [])) %}
{% for filter_forward_v6_host_vars in iptables_filter_forward_v6_host_vars %}
{{filter_forward_v6_host_vars}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# OUTPUT
#-------------------------------------------------------------------------------

# Established and related connections
-A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "established and related connections"
-A OUTPUT -o lo -j ACCEPT -m comment --comment "loopback connections"

# ICMP rules
{% if (iptables_filter_output_v6_icmp is defined) and not ((iptables_filter_output_v6_icmp == None) or (iptables_filter_output_v6_icmp == '') or (iptables_filter_output_v6_icmp == [])) %}
{% for filter_output_v6_icmp in iptables_filter_output_v6_icmp %}
{{filter_output_v6_icmp}}
{% endfor %}
{% endif %}

# 'group_vars' rules
{% if (iptables_filter_output_v6_group_vars is defined) and not ((iptables_filter_output_v6_group_vars == None) or (iptables_filter_output_v6_group_vars == '') or (iptables_filter_output_v6_group_vars == [])) %}
{% for filter_output_v6_group_vars in iptables_filter_output_v6_group_vars %}
{{filter_output_v6_group_vars}}
{% endfor %}
{% endif %}

# 'host_vars' rules
{% if (iptables_filter_output_v6_host_vars is defined) and not ((iptables_filter_output_v6_host_vars == None) or (iptables_filter_output_v6_host_vars == '') or (iptables_filter_output_v6_host_vars == [])) %}
{% for filter_output_v6_host_vars in iptables_filter_output_v6_host_vars %}
{{filter_output_v6_host_vars}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# COMMIT
#-------------------------------------------------------------------------------

# Commit *filter
COMMIT
