#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#        o
#    ____|____
#   |         |  Name   : iptables
#   |  _   _  |  Type   : iptables configuration file
#   | [_] [_] |  Role   : iptables
#   |____~____|
#    ___//__//   Authors: robomon community
#   /|     |/    License: Simplified BSD License
#  //|_____|
#    _|| ||_     Webpage: http://www.robomon.org/
#   (__| |__)
#-------------------------------------------------------------------------------
# DESCRIPTION
#-------------------------------------------------------------------------------
#
# This file defines iptables rules.
#
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# NAT
#-------------------------------------------------------------------------------

*nat
:PREROUTING {% if (iptables_nat_prerouting_v4_policy is defined) and ((iptables_nat_prerouting_v4_policy == 'drop') or (iptables_nat_prerouting_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]
:POSTROUTING {% if (iptables_nat_postrouting_v4_policy is defined) and ((iptables_nat_postrouting_v4_policy == 'drop') or (iptables_nat_postrouting_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]

#-------------------------------------------------------------------------------
# PREROUTING
#-------------------------------------------------------------------------------

{% if (iptables_nat_prerouting_v4 is defined) and not ((iptables_nat_prerouting_v4 == None) or (iptables_nat_prerouting_v4 == '') or (iptables_nat_prerouting_v4 == [])) %}
{% for nat_prerouting_v4 in iptables_nat_prerouting_v4 %}
{{nat_prerouting_v4}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# POSTROUTING
#-------------------------------------------------------------------------------

{% if (iptables_nat_postrouting_v4 is defined) and not ((iptables_nat_postrouting_v4 == None) or (iptables_nat_postrouting_v4 == '') or (iptables_nat_postrouting_v4 == [])) %}
{% for nat_postrouting_v4 in iptables_nat_postrouting_v4 %}
{{nat_postrouting_v4}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# COMMIT
#-------------------------------------------------------------------------------

# Commit *nat
COMMIT

#-------------------------------------------------------------------------------
# MANGLE
#-------------------------------------------------------------------------------

*mangle
:PREROUTING {% if (iptables_mangle_prerouting_v4_policy is defined) and ((iptables_mangle_prerouting_v4_policy == 'drop') or (iptables_mangle_prerouting_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]
:INPUT {% if (iptables_mangle_input_v4_policy is defined) and ((iptables_mangle_input_v4_policy == 'drop') or (iptables_mangle_input_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]
:FORWARD {% if (iptables_mangle_forward_v4_policy is defined) and ((iptables_mangle_forward_v4_policy == 'drop') or (iptables_mangle_forward_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]
:OUTPUT {% if (iptables_mangle_output_v4_policy is defined) and ((iptables_mangle_output_v4_policy == 'drop') or (iptables_mangle_output_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]
:POSTROUTING {% if (iptables_mangle_postrouting_v4_policy is defined) and ((iptables_mangle_postrouting_v4_policy == 'drop') or (iptables_mangle_postrouting_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]

#-------------------------------------------------------------------------------
# PREROUTING
#-------------------------------------------------------------------------------

{% if (iptables_mangle_prerouting_v4 is defined) and not ((iptables_mangle_prerouting_v4 == None) or (iptables_mangle_prerouting_v4 == '') or (iptables_mangle_prerouting_v4 == [])) %}
{% for mangle_prerouting_v4 in iptables_mangle_prerouting_v4 %}
{{mangle_prerouting_v4}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# INPUT
#-------------------------------------------------------------------------------

{% if (iptables_mangle_input_v4 is defined) and not ((iptables_mangle_input_v4 == None) or (iptables_mangle_input_v4 == '') or (iptables_mangle_input_v4 == [])) %}
{% for mangle_input_v4 in iptables_mangle_input_v4 %}
{{mangle_input_v4}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# FORWARD
#-------------------------------------------------------------------------------

{% if (iptables_mangle_forward_v4 is defined) and not ((iptables_mangle_forward_v4 == None) or (iptables_mangle_forward_v4 == '') or (iptables_mangle_forward_v4 == [])) %}
{% for mangle_forward_v4 in iptables_mangle_forward_v4 %}
{{mangle_forward_v4}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# OUTPUT
#-------------------------------------------------------------------------------

{% if (iptables_mangle_output_v4 is defined) and not ((iptables_mangle_output_v4 == None) or (iptables_mangle_output_v4 == '') or (iptables_mangle_output_v4 == [])) %}
{% for mangle_output_v4 in iptables_mangle_output_v4 %}
{{mangle_output_v4}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# POSTROUTING
#-------------------------------------------------------------------------------

{% if (iptables_mangle_postrouting_v4 is defined) and not ((iptables_mangle_postrouting_v4 == None) or (iptables_mangle_postrouting_v4 == '') or (iptables_mangle_postrouting_v4 == [])) %}
{% for mangle_postrouting_v4 in iptables_mangle_postrouting_v4 %}
{{mangle_postrouting_v4}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# COMMIT
#-------------------------------------------------------------------------------

# Commit *mangle
COMMIT

#-------------------------------------------------------------------------------
# FILTER
#-------------------------------------------------------------------------------

*filter

# Set the default policy and zero the packet and byte counters
:INPUT {% if (iptables_filter_input_v4_policy is defined) and ((iptables_filter_input_v4_policy == 'accept') or (iptables_filter_input_v4_policy == 'ACCEPT')) %}ACCEPT{% else %}DROP{% endif %} [0:0]
:FORWARD {% if (iptables_filter_forward_v4_policy is defined) and ((iptables_filter_forward_v4_policy == 'drop') or (iptables_filter_forward_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]
:OUTPUT {% if (iptables_filter_output_v4_policy is defined) and ((iptables_filter_output_v4_policy == 'drop') or (iptables_filter_output_v4_policy == 'DROP')) %}DROP{% else %}ACCEPT{% endif %} [0:0]

#-------------------------------------------------------------------------------
# INPUT
#-------------------------------------------------------------------------------

# Established and related connections
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "Incoming established and related connections"
-A INPUT -i lo -j ACCEPT -m comment --comment "Incoming loopback connections"

# ICMP rules
{% if (iptables_filter_input_v4_icmp is defined) and not ((iptables_filter_input_v4_icmp == None) or (iptables_filter_input_v4_icmp == '') or (iptables_filter_input_v4_icmp == [])) %}
{% for filter_input_v4_icmp in iptables_filter_input_v4_icmp %}
{{filter_input_v4_icmp}}
{% endfor %}
{% endif %}

# Default rules
{% if (iptables_filter_input_v4_default is defined) and not ((iptables_filter_input_v4_default == None) or (iptables_filter_input_v4_default == '') or (iptables_filter_input_v4_default == [])) %}
{% for filter_input_v4_default in iptables_filter_input_v4_default %}
{{filter_input_v4_default}}
{% endfor %}
{% endif %}

# Custom rules
{% if (iptables_filter_input_v4_custom is defined) and not ((iptables_filter_input_v4_custom == None) or (iptables_filter_input_v4_custom == '') or (iptables_filter_input_v4_custom == [])) %}
{% for filter_input_v4_custom in iptables_filter_input_v4_custom %}
{{filter_input_v4_custom}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# FORWARD
#-------------------------------------------------------------------------------

# Established and related connections
-A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "established and related connections"
-A FORWARD -i lo -j ACCEPT -m comment --comment "loopback connections"
-A FORWARD -o lo -j ACCEPT -m comment --comment "loopback connections"

# ICMP rules
{% if (iptables_filter_forward_v4_icmp is defined) and not ((iptables_filter_forward_v4_icmp == None) or (iptables_filter_forward_v4_icmp == '') or (iptables_filter_forward_v4_icmp == [])) %}
{% for filter_forward_v4_icmp in iptables_filter_forward_v4_icmp %}
{{filter_forward_v4_icmp}}
{% endfor %}
{% endif %}

# Default rules
{% if (iptables_filter_forward_v4_default is defined) and not ((iptables_filter_forward_v4_default == None) or (iptables_filter_forward_v4_default == '') or (iptables_filter_forward_v4_default == [])) %}
{% for filter_forward_v4_default in iptables_filter_forward_v4_default %}
{{filter_forward_v4_default}}
{% endfor %}
{% endif %}

# Custom rules
{% if (iptables_filter_forward_v4_custom is defined) and not ((iptables_filter_forward_v4_custom == None) or (iptables_filter_forward_v4_custom == '') or (iptables_filter_forward_v4_custom == [])) %}
{% for filter_forward_v4_custom in iptables_filter_forward_v4_custom %}
{{filter_forward_v4_custom}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# OUTPUT
#-------------------------------------------------------------------------------

# Established and related connections
-A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT -m comment --comment "established and related connections"
-A OUTPUT -o lo -j ACCEPT -m comment --comment "loopback connections"

# ICMP rules
{% if (iptables_filter_output_v4_icmp is defined) and not ((iptables_filter_output_v4_icmp == None) or (iptables_filter_output_v4_icmp == '') or (iptables_filter_output_v4_icmp == [])) %}
{% for filter_output_v4_icmp in iptables_filter_output_v4_icmp %}
{{filter_output_v4_icmp}}
{% endfor %}
{% endif %}

# Default rules
{% if (iptables_filter_output_v4_default is defined) and not ((iptables_filter_output_v4_default == None) or (iptables_filter_output_v4_default == '') or (iptables_filter_output_v4_default == [])) %}
{% for filter_output_v4_default in iptables_filter_output_v4_default %}
{{filter_output_v4_default}}
{% endfor %}
{% endif %}

# Custom rules
{% if (iptables_filter_output_v4_custom is defined) and not ((iptables_filter_output_v4_custom == None) or (iptables_filter_output_v4_custom == '') or (iptables_filter_output_v4_custom == [])) %}
{% for filter_output_v4_custom in iptables_filter_output_v4_custom %}
{{filter_output_v4_custom}}
{% endfor %}
{% endif %}

#-------------------------------------------------------------------------------
# COMMIT
#-------------------------------------------------------------------------------

# Commit *filter
COMMIT
