---

#-------------------------------------------------------------------------------
# VARIABLES
#-------------------------------------------------------------------------------

- name: 'include variables'
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_os_family}}{{ansible_distribution_release}}.yml"
        - "vars/{{ansible_os_family}}.yml"
        - 'vars/main.yml'
  tags:
    - install
    - rest_server

#-------------------------------------------------------------------------------
# SYSTEM
#-------------------------------------------------------------------------------

- name: 'group create rest-server'
  group:
    state: 'present'
    name: "{{group_name_rest_server}}"
    system: "{{group_system_rest_server}}"
  tags:
    - install
    - rest_server

- name: 'user create rest-server'
  user:
    state: 'present'
    name: "{{user_name_rest_server}}"
    comment: "{{user_comment_rest_server}}"
    group: "{{user_group_rest_server}}"
    append: "{{user_append_rest_server}}"
    home: "{{user_home_rest_server}}"
    createhome: "{{user_home_create_rest_server}}"
    move_home: "{{user_home_move_rest_server}}"
    remove: "{{user_home_remove_rest_server}}"
    force: "{{user_home_force_rest_server}}"
    password: "{{user_password_rest_server}}"
    update_password: "{{user_password_update_rest_server}}"
    shell: "{{user_shell_rest_server}}"
    system: "{{user_system_rest_server}}"
  tags:
    - install
    - rest_server

#-------------------------------------------------------------------------------
# FILES
#-------------------------------------------------------------------------------

- name: 'file create src.dir'
  file:
    state: 'directory'
    path: "{{file_dst_src_dir}}"
    mode: "{{file_mode_src_dir}}"
    owner: "{{file_owner_src_dir}}"
    group: "{{file_group_src_dir}}"
  tags:
    - install
    - rest_server

- name: 'file create data.dir'
  file:
    state: 'directory'
    path: "{{file_dst_data_dir}}"
    mode: "{{file_mode_data_dir}}"
    owner: "{{file_owner_data_dir}}"
    group: "{{file_group_data_dir}}"
  tags:
    - install
    - rest_server

- name: 'file create rest-server_data.dir'
  file:
    state: 'directory'
    path: "{{file_dst_rest_server_data_dir}}"
    mode: "{{file_mode_rest_server_data_dir}}"
    owner: "{{file_owner_rest_server_data_dir}}"
    group: "{{file_group_rest_server_data_dir}}"
  tags:
    - install
    - rest_server

- name: 'file download rest-server.gz'
  get_url:
    url: "{{file_src_rest_server_gz}}"
    dest: "{{file_dst_rest_server_gz}}"
    mode: "{{file_mode_rest_server_gz}}"
    owner: "{{file_owner_rest_server_gz}}"
    group: "{{file_group_rest_server_gz}}"
    checksum: "{{rest_server_checksum_algorithm}}:{{rest_server_checksum}}"
  tags:
    - install
    - rest_server

- name: 'command unarchive rest-server.gz'
  shell: "{{command_cmd_unarchive_rest_server_gz}}"
  args:
    creates: "{{command_creates_unarchive_rest_server_gz}}"
  tags:
    - install
    - rest_server

- name: 'file copy rest-server'
  copy:
    src: "{{file_src_rest_server}}"
    dest: "{{file_dst_rest_server}}"
    mode: "{{file_mode_rest_server}}"
    owner: "{{file_owner_rest_server}}"
    group: "{{file_group_rest_server}}"
    remote_src: "yes"
  tags:
    - install
    - rest_server

#-------------------------------------------------------------------------------
# META
#-------------------------------------------------------------------------------

- name: 'meta flush handlers'
  meta: 'flush_handlers'
  tags:
    - install
    - rest_server
